[2015-08-04 21:17] t1mmen opened #1 "Console warning: forcedUpdate"
Hi,

Thanks for this component! I'm having a slight issue when navigating away from pages using this component, with the console giving me the following warning:

[code]

[2015-08-04 22:13] t1mmen commented on #1
I've tried removing the `forcedUpdate` call in the `componentWillRecieveProps` hook, which fixed the warnings issue. Everything still appears to be working as expected, but I'm thinking you probably had a good reason to put this call in?

[2015-08-05 10:45] eiriklv commented on #1
Hi @t1mmen! There's a reason for it (there's some quirks when you use infinite scrolling/reloading of entire collections in certain cases). But to mitigate the warning I've released a fix that checks if the component is mounted (`this.isMounted`) before doing `this.forceUpdate`. Released as 1.0.3 :-)

[2015-08-13 09:02] #1 closed

[2015-08-21 11:55] jasecoop opened #2 "Masonry only aligns divs correctly after state change"
Hi

I'm calculating the container and divs width and height before rendering masonry, but they only arrange correctly on a state change. Initially they're arranged stacked on top of eachother.

Is there any reason for this? Not sure if the fault lies with how I'm using React or Masonry atm.

[2015-08-25 17:45] eiriklv commented on #2
Hey @jasecoop! Do you have an example/demo which produces this bug? :-)

[2015-09-10 02:13] cswleocsw opened #3 "how to filter selectItem just like example"
I don't know how to filter my selectItem?  Is Masonry have support filter function like Isotope ?

[2015-09-15 18:47] rayshan opened #4 "React 0.14 compatibility"
Hi Eirik, thanks for building this. When using with React 0.14 RC1:

If using `React.render()`, the app works fine, but I get:

[code]

[code]

If importing ReactDOM and using `ReactDOM.render()`, the app does not work, I get:

[code]

[2015-09-15 19:58] eiriklv commented on #4
Thanks, will take a look :-)

[2015-09-16 08:14] aaronhayes opened #5 "Component doesn't update if Children resize"
The React-Masonry-Component does not update if a child component changes size - it causing overlapping issues/general ugliness.
There should be a way to monitor children component for size changes.

For example in this scenario. If ChildOne's state is updated it will be re-rendered but the Masonry component would not be and therefore not realigned properly (unless it was listening for the same cha

[2015-09-18 13:43] AugustinLF commented on #5
I had the same problem. As far as I can see, the only way is to change a props of Masonry (any, even if it doesn't exist), to force a reload (the component triggers a `reloadItems` on `ComponentWillReceiveProps`. Not perfect, but this is the same thing (IIRC) with Masonry in general (not about this component), even with vanilla JS, you still need to trigger the refresh.

[2015-09-19 02:01] aaronhayes commented on #5
so my very hacky solution was to expose the performLayout function of React-Masonry and call it whenever I needed a refresh. It works but not very elegant.

[2015-09-19 07:08] rayshan commented on #4
I forgot to mention I'm using webpack.

The `Invariant Violation` can be fixed by either including React as an npm dependency and setting the version to `>=0.13||>=0.14-alpha` under npm 2, or using npm 3. Otherwise webpack bundles multiple copies of React.

The remaining issue is `Warning: React.findDOMNode is deprecated.` It should be an easy fix within this library.

[2015-10-07 22:33] fskinner commented on #4
:+1: having the same issue. just did a Find All on my project and there no `findDOMNode` on my source code tho

[2015-10-08 21:20] eiriklv commented on #4
Feel free to submit a PR for this :-) Will have to release a new major version since this will break backwards compatibility.

[2015-10-21 17:10] t1mmen commented on #5
I managed to work around this by simply setting state in the component that has `<Masonry />` in it's render method (didn't need to pass the state as prop, even)

[2015-10-26 13:49] WellDone2094 commented on #4
to solve this warning you just need to use ReactDOM.render to render ur root component in the dom
[code]

[2015-10-26 13:51] WellDone2094 commented on #4
to solve this you need to use ReactDOM.render to render your root element,
[code]

[2015-11-02 18:55] Narzerus commented on #5
@t1mmen's approach works, though this is clearly still a hacky approach.

[2015-11-10 05:44] thespacecadette opened #8 "disableImagesLoaded not parsing boolean value"
Hi guys,

Having an issue with Masonry Component's parameter "disableImagesLoaded". It throws this error:

[code]

I've tried parsing false and creating a variable with false, but doesn't seem to work.

Is anyone else having issues with this?

[2015-11-15 18:59] john-osullivan opened #9 ""Bad masonry element""
Hi, I'm instantiating Masonry pretty similarly to how you have it in the example, except each child element is a React component.  For some reason, the dependent library outlayer throws an error "Bad masonry element".  After that, it repeatedly has a "Can't read property children of undefined" error.  Not sure what's going wrong here.

For some more context, I'm using React as the front-end with M

[2015-11-16 23:08] thespacecadette commented on #8
(bump)

[2015-11-18 07:07] Hancoson commented on #4
need to use <script src="../build/react-dom.js"></script>
ReactDOM.render()

[2015-11-18 10:52] amontin opened #10 "Styling child elements"
I can't figure out what I'm doing wrong. My code below is almost identical to the example given, but I'm trying to style the child elements of the Masonry component. The problem is that transitions don't work with the current styling. If I remove the "height" property and only use "width", transitions do work! Can anyone help? (I'm using the latest Chrome browser.)
[code]

[2015-11-19 11:46] cybercomkvint opened #11 "Bad position/placement if element is prepended in array"
I have an array with elements that I get from filtering a larger array base on some value. I give the children to the masonry unique keys. This works great when the visible child at position 0 in array remains visible all the time. But when a child gets prepended in the array the child elements start to overlap.

[code]

[2015-11-23 19:28] thachp opened #12 "Can you also include the styles, could not get the padding to display right using bootstrap"
In the example, you have class name open to customization, would it be possible also to provide those styles as an optional dependency?

               ... // image
               <li className="image-element-class">

                .... // gallery
                className={'my-gallery-class'} // default ''

I am using bootstrap's thumbnail component, and it is not working for me at all.  The fu

[2015-12-05 01:32] amontin commented on #10
So using maxHeight instead of height seems to do the trick. However if I wrap the image child elements in some other element like a div the transitions don't work. Since I don't really require a lot of masonry's functionality, I've switched to a simple flexbox layout to order my tiles instead.

[2015-12-05 01:35] levity commented on #8
[code]
Are you sure you have the `(React)` part on the end?

[2015-12-05 12:21] eiriklv commented on #8
It should probably have been changed to use peerDependencies instead, so that you don't have to inject React as a dependency

[2015-12-05 12:24] eiriklv commented on #3
@cswleocsw - You should be able to filter just by using `.filter` on the array of items you are putting into your masonry :-) This is the "React way" of doing it at least

[2015-12-05 12:27] eiriklv commented on #5
@If anyone has a solution that keeps the existing functionality and fixes this then feel free to send a PR! This component is a bit hacky from the start actually, so a hacky solution that is encapsulated in the Masonry component (not leaking out) is better than no solution :-)

[2015-12-05 12:30] eiriklv commented on #9
@john-osullivan Are you using the Meteor React package? What version of React is that? :-) Unfortunately I haven't played around much with Meteor and don't have any obvious clues to of what to look for.

[2015-12-05 12:32] eiriklv commented on #10
Flexbox is really good! Unfortunately it doesn't allow you to have variable height for your elements like you do with Masonry :-)

[2015-12-05 12:34] eiriklv commented on #11
And all id's are unique? Seems like an edge case issue when doing prepending to the masonry.. Might be that the "algorithm" for diffing does not account for this. What happens if you always include a dummy element at the top that is "invisible"?

[2015-12-05 12:37] eiriklv commented on #12
Ideally it should be possible to forward any props to the MasonryComponent top element. It just wasn't done at the time. There's a PR for it (#7) that I'll try to merge when i have time. In the meantime you could try that one :-)

[2015-12-06 01:53] john-osullivan commented on #9
Yup, I'm using the Meteor React package. I believe it was recently upgraded to 0.14.1, specifically not to 0.14.2. That's what the devs said in an issue, I'll link out when I'm at my computer.
If it'd any additional trouble shooting help, it's a component I've defined myself using ES6 classes.-------- Original message --------From: "Eirik L. Vullum" <notifications@github.com> Date: 12/5/2015  07:3

[2015-12-15 02:00] thespacecadette commented on #8
This worked
[code]

[2015-12-22 08:28] ankur0890 commented on #5
Facing the same issue. Unable to figure out a solution yet. Put this on stackoverflow also for more ideas http://stackoverflow.com/questions/34411211/reload-react-masonry-component-manually

[2015-12-24 20:54] clearly opened #13 "Hearsay.me source"
Would be really useful if the original source for the hearsay.me live demo was somehow included here.

[2015-12-24 21:51] clearly commented on #13
NM...found the other project that refers here. But it is based on the Mixin use.

Have tried to stay away from mixin based approaches: https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750#.ryxgrprpf

[2015-12-24 21:51] #13 closed

[2015-12-26 12:39] eiriklv commented on #13
Hi @clearly! I know - it should be rewritten to use the component version :-) Feel free to send a PR if you get to it before i do.

[2015-12-30 16:45] afram opened #14 "Why are dependencies linked to Github instead of NPM and semver?"
Wondering why this library and most (all?) the libraries it depends on are pulling in Github dependencies?

They currently don't support semver versioning, and this leads to unpredictable results.

For instance this change from 2 days ago in a downstream dependency broke react-masonry-component for us. We had to shrinkwrap to enforce version numbers from within git dependencies.

https://github.co

[2015-12-30 18:19] eiriklv commented on #14
Hi @afram - this whole module is a bit hacky as you have experienced.

The reason for the github deps is that the ones that originally were on npm (including masonry itself) didn't work with CommonJS.

To make the whole thing work I had to clone the whole dependency tree (and some forks that had implemented CommonJS/npm support) and make the necessary changes.

Also - because of mixed use of AMD/r

[2015-12-31 01:55] thgil opened #15 "Matches-selector update breaks this"
You get this error when you load this component now.
`Uncaught TypeError: elem[matchesMethod] is not a function`

I think its because https://github.com/desandro/matches-selector got updated to v2.0.0

[2015-12-31 08:25] kenotron commented on #15
I'm hitting this as well. The idea of taking a github.com/desandro/matches-selector as dependency instead of pegging to a MAJOR version is risky at best. Also, not sure why use so much of your own forks of @desandro 's software?

[2015-12-31 12:56] afram commented on #14
Yeah I see - all a bit frustrating.

I'd say there's an argument to update UMD boilerplate to put CJS first. I'm looking into this to see what can be done.

I suspect that it should just work for Browserify users, though webpack users will need some more config.

[2015-12-31 12:57] eiriklv commented on #15
@thgil @kenotron See https://github.com/eiriklv/react-masonry-component/issues/14

[2015-12-31 13:04] eiriklv commented on #14
@afram That's the case - it just works for out of the box for browserify, but creates a lot of issues with Webpack. So back when I was working with this I couldn't find an easy solution without rewriting the UMD templates. Still waiting for https://github.com/webpack/webpack/issues/883 to be handled..

[2015-12-31 13:25] afram commented on #14
Another option at least for now while a better solution appears would be to reference explicit versions from github deps.

[code]

[2015-12-31 13:28] eiriklv commented on #14
@afram If you can find something that makes it work right now - I'll insta-merge it and publish a fix to npm

[2015-12-31 13:52] afram commented on #14
@eiriklv I made a PR against eiriklv/outlayer which should sort this issue out. I believe No version changes are required for this to start working.

This isn't ideal, but it's probably an OK interim step to keep things working for everyone until a more robust solution is developed.

[2015-12-31 13:55] eiriklv commented on #14
@afram - Merged. Let me know if you need anything else.

[2015-12-31 14:05] afram commented on #14
@eiriklv cheers just tested again and it works.

Will look into migrating over to NPM deps.

[2015-12-31 14:07] eiriklv commented on #14
Awesome :-) I haven't got much time to work on this ATM, so I've made you a collaborator (both github and npm) in case you want to push fixes.

[2015-12-31 14:20] afram commented on #14
oh nice - cheers :-)

[2015-12-31 14:33] desandro commented on #14
As you've noted, the issue lies with how Webpack deals with nested dependencies in issue 883. Rather than maintaining forked version of every dependency of Masonry, a simpler solution may be to use `webpack.config.js`. This way you can use original dependencies, as we can raise awareness around the Webpack issue. I've added [Webpack instructions to Masonry - Appendix](http://masonry.desandro.com/a

[2015-12-31 15:17] eiriklv commented on #14
@desandro - Thanks for the alternative fix!

Neither of the solutions are any elegant IMO. You should be able to `npm install` without much fuss. A shame that the coincidence of AMD's `if` statement in the UMD spec preceding CommonJS causes these problems. Especially since Bower seems to be a dying beast. If it was the other way around this wouldn't be a problem.

[2015-12-31 18:14] afram commented on #15
@thgil @kenotron this should be fixed now - can please you try installing again?

[2015-12-31 20:25] thgil commented on #15
@afram Thanks a lot, it's working again.

[2015-12-31 20:26] #15 closed

[2016-01-01 14:40] afram commented on #14
@eiriklv That solution might be the way to go - It's a few lines of webpack config (which sucks) but we get a lot more benefits from semver and maintained dependencies.

Thinking it'd be good to create 1x and 2x branches in case support is needed for legacy versions, and bump this to v3 - what do you think?

[2016-01-01 14:47] #4 closed

[2016-01-01 14:48] afram commented on #4
Fixed from v2.0.0

[2016-01-01 15:13] eiriklv commented on #14
@afram As long as it's documented in the README and we branch off - then I'm good. Go for it if you have the capacity :-)

[2016-01-03 13:35] afram commented on #12
@thachp This should be fixed in 3.0.0

Do you mind please trying if it works for you by giving the 3.0.0 beta a spin?

`npm install react-masonry-component@3.0.0-rc.1`

This version no longer requires passing in React as an argument, you can require the component and use it straight away. More info in the Readme

[2016-01-03 13:37] afram commented on #8
@thespacecadette This should now work differently in 3.0.0

You can give the 3.0.0 beta a spin if you like.

`npm install react-masonry-component@3.0.0-rc.1`

This version no longer requires passing in React as an argument, you can require the component and use it straight away. More info in the Readme

[2016-01-03 13:47] afram commented on #14
fixed in 3.0.0

[2016-01-03 13:47] #14 closed

[2016-01-03 13:49] afram commented on #3
@cswleocsw I'm going to close this as resolved. Please reopen if you still need to discuss.

[2016-01-03 13:49] #3 closed

[2016-01-03 20:31] afram commented on #11
@cybercomkvint can you please try the 3.0.0 beta and see if it fixes things for you?

`npm install --save react-masonry-component@3.0.0-rc.1`

You no longer need to pass in React to a function - also a little extra setup required if using Webpack. More info in Readme

[2016-01-03 20:35] afram commented on #10
Closing issue as is a Masonry issue and not related to this component. @amontin please reopen if you want to discuss further.

[2016-01-03 20:35] #10 closed

[2016-01-04 02:24] ads1018 opened #16 "How do you bind to masonry events?"
I'd like to change the state of my app once the masonry layout is complete but that requires binding to the event listener "layoutComplete". Does this component provide an instance to the masonry object for event binding?

[2016-01-04 09:47] afram commented on #16
@ads1018 Yes this component provides access to a `masonry` property on the React class, you can access it using refs.

es6
[code]

[2016-01-06 22:14] john-osullivan commented on #8
Tried in 3.0.0-rc.1, got this error:

[code]

Then a number of similar ones for `outlayer`, 'get-size', and 'fizzy-ui-utils'.  I'm combining Meteor and React, so maybe there's something weird going on based on the Meteor build process?  Going to try and do what @thespacecadette said instead.

[2016-01-07 00:44] afram commented on #8
@john-osullivan that shouldn't work with 3.0.0 because the API has changed.

That issue is because 'eventEmitter/EventEmitter' (and all the others) are AMD dependencies. Are you using Webpack by any chance? If so you need to add the loader as per the readme.

If not using webpack, are you using AMD?

[2016-01-07 05:41] ads1018 commented on #16
Fantastic. Thanks @afram

[2016-01-07 10:30] afram commented on #16
I'm going to close this, please reopen if you have any further issues related to this.

[2016-01-07 10:30] #16 closed

[2016-01-07 14:10] afram commented on #8
It seems this might be a Meteor specific thing, I think it warrants it's own issue. I will close this one and open another as this issue is for a different matter.

[2016-01-07 14:10] #8 closed

[2016-01-07 14:10] afram opened #17 "Investigate usage in Meteor"
It seems that there are issues using this with Meteor. Need to solve the pain points and update component/readme

[2016-01-07 21:05] pvijeh opened #18 "TypeError: Cannot read property 'bool' of undefined"
I get this error when trying to include the masonry component:

TypeError: Cannot read property 'bool' of undefined
    at new MasonryComponent (/Users/pvijeh/projects/sull-isom/node_modules/react-masonry-component/lib/index.js:15:49)
    at [object Object].ReactCompositeComponentMixin.mountComponent (/Users/pvijeh/projects/sull-isom/node_modules/react/lib/ReactCompositeComponent.js:148:18)
    at

[2016-01-08 00:59] afram commented on #18
hi @pvijeh which version of the component are you using - the package.json file you provided doesn't seem to have it listed.

Based on the error line number, I'm going to make a guess and say you are running 2.0.0

Currently 2.0.0 is the latest from NPM and the documentation on this Github README is for version 3.0.0 which is still in Beta.

Here is the README for 2.0.0 https://github.com/eiriklv/

[2016-01-08 19:00] pvijeh opened #19 "Is there any way to sort the order of elements using this component?"

[2016-01-08 20:49] afram commented on #19
react-masonry-component does not sort it's contents, you have to provide sorted child elements.

Here is a hypothetical example where we put some child elements in descending order. I've left out any non essential details like class names etc.

For this example, `props.someElementsArray` contains items that are strings, eg:
[code]

[code]

The above code will render something like

[code]

[2016-01-10 07:16] thachp commented on #12
@afram  - Works like charms.  Thank you

[2016-01-10 07:16] #12 closed

[2016-01-11 19:55] migreva commented on #9
I was typing a response to this question just as [3.0.0](https://www.npmjs.com/package/react-masonry-component) was published!

I think 3.0.0 fixes the issue, I think the problem might have been the ES6 import syntax I was using (which I assume @john-osullivan is using because he's using ES6 classes).

The following way I was importing was throwing an error when using 2.0.0:

[code]

2.0.0 was the

[2016-01-12 19:30] chowza opened #20 "Elements are in wrong position on a 're-render' caused by unfiltering a filtered array"
I am displaying my masonry tiles from a filtered array.

    var myFilteredArray = myArray.filter( (tile) => this.props.filter.indexOf(tile.tag) > -1 )
    var tiles = myFilteredArray.map( (tile) => <MyTile/>)

Where `myArray` is an array of json objects with a tag field. `props.filter` is an array of strings.

For example`props.filter` =  ["a","b","c"]  and the json tags are "a", "b", "c"

When I

[2016-01-12 20:14] chowza commented on #11
I had the same problem and can confirm using `3.0.0-rc.1` does not fix it. However using a dummy element does fix it. Quite odd..

I am using a div with width 1px and height 0px which surprisingly does the trick. If I use an empty div with no styling, it causes all the masonry elements to be stacked vertically despite having plenty of space to be layed out horizontally.

[2016-01-12 20:15] chowza commented on #20
Looks like this is related to https://github.com/eiriklv/react-masonry-component/issues/11.

[2016-01-12 20:15] #20 closed

[2016-01-15 11:44] afram commented on #18
I'm going to close this ticket due to inactivity. Please reopen if you would like to discuss further

[2016-01-15 11:44] #18 closed

[2016-01-15 11:44] afram commented on #19
I'm going to close this ticket due to inactivity. Please reopen if you would like to discuss further

[2016-01-15 11:44] #19 closed

[2016-01-18 03:50] chowza opened #21 "Performance issues"
I have 12 objects in my Masonry container. Upon changing one of the objects, the entire masonry component must update.

However I'm seeing quite a significant jank as a result. When I use an ordinary container instead of a Masonry container the jank does not occur.

Any reasons why? In my 12 objects I return false in shouldComponentUpdate for 11 of them so I know only 1 rerenders, and the masonry

[2016-01-18 22:27] afram commented on #21
The jank may be due to all the computation masonry is doing. Do you have a small test case for debugging purposes?

[2016-01-19 21:14] dkwingsmt opened #23 "Change package dependencies to peerDependencies"
Some of the dependencies listed in ``package.json``, including ``react`` and ``react-dom``, will cause conflict and error when the project using your module is a plugin of a host project. See https://nodejs.org/en/blog/npm/peer-dependencies/

Could you move them into ``peerDependencies``?

[2016-01-19 21:17] afram commented on #23
@dkwingsmt The only prod dependencies this package has are imagesloaded and masonry-layout. Everything else is a dev-dependency, and shouldn't be installed when requiring the module through NPM

[2016-01-19 21:17] afram commented on #23
Also, React is already a peer-dependency

[2016-01-19 21:18] dkwingsmt commented on #23
You are right. My mistake when reading package.json. It might have been installed by other dependencies of mine.

[2016-01-19 21:18] #23 closed

[2016-01-21 21:58] afram opened #24 "Add Travis CI"
@eiriklv Firstly what do you think about adding Travis CI support in order to run tests on commit/pull request?

Second, you will have to do it, the repo is under your account.

(We could also create an org for this, but that might be overkill)

[2016-01-21 22:07] eiriklv commented on #24
Sounds great to me :-)

[2016-01-21 22:10] eiriklv commented on #24
I have "flicked the switch" on https://travis-ci.org, so it should be good to go

[2016-01-21 22:10] eiriklv commented on #24
@afram Thanks for doing all this work btw :-)

[2016-01-21 23:23] dcworldwide opened #25 "Fork Idea - Infinite scrolling"
HI @eiriklv, thanks for the great project. :+1:  I have a general question. I need to extend your work to add infinite scrolling. My plan is to fork your work and make my sub-project available to others. I'm pretty new to React and Masonry, so i was wondering if you had any thoughts on how you would solve this problem? Furthermore, are there any infinite scrolling libs that you know of which would

[2016-01-21 23:32] eiriklv commented on #25
Hi @dcworldwide, and thanks!

There's already an example of react-masonry-mixin and infinite scroll here:
- Code: https://github.com/eiriklv/hearsay-frontend/blob/master/client/javascript/modules/components/article-box.js
- Live demo: [http://www.hearsay.me](http://www.hearsay.me)

It's using a [fork](https://github.com/eiriklv/react-infinite-scroll) of [react-infinite-scroll](https://github.com/g

[2016-01-21 23:38] eiriklv commented on #25
Though I see now that this is using the old `react-masonry-mixin`, which was my first approach, but you should be able to do something similar.

[2016-01-21 23:40] eiriklv commented on #25
Something like in the fashion of:

[code]

[2016-01-22 00:00] afram commented on #24
no worries we use this thing for one of our apps and we needed features from it :-)

[2016-01-22 00:17] #24 closed

[2016-01-22 00:46] dcworldwide commented on #25
@eiriklv Very neat! I'm going to spend some time tomorrow getting this working. Thanks again!

[2016-01-22 00:46] #25 closed

[2016-01-22 01:19] eiriklv commented on #25
@dcworldwide No worries! Have fun :-)

[2016-01-30 00:57] dcworldwide commented on #17
What are the problems you've encountered? Seems to work ok for me...

[2016-01-31 06:08] sinkpoint opened #26 "container div does not resize properly when children are removed"
Hi I have a use case that's giving some problems.
I'm putting children inside a div container with a certain height, and has overflow:auto
The component works fine, but when I change the children list to a shorter size, and upon rerender, the container div height would not shrink. It would take 2 state changes for the container div to shrink properly.

Any idea why this is? Thanks

[2016-01-31 10:20] afram commented on #26
@sinkpoint do you have any code snippets we can look at?

[2016-01-31 10:22] afram commented on #17
In truth, I am not a Meteor dev and have based this exploration on users feedback. I haven't had a chance to look at this in depth yet, though I'm curious if you had to do anything special to get it working?

Would you be interested in submitting a PR for a few lines of documentation around the process?

[2016-01-31 12:39] dcworldwide commented on #17
I actually didn't do anything special. Just npm installed and setup as per the readme. If I do find issues I'll post here

[2016-01-31 17:07] sinkpoint commented on #26
@afram, certainly, heres's an example of what I'm doing, thanks:

[code]

[2016-01-31 20:17] afram commented on #26
Maybe I'm missing something, but this is a height of 500px with overflow: auto. That height of that container will always be 500px.

[2016-01-31 20:48] bfic commented on #25
@dcworldwide could you be so kind and share your approach ? I am trying to do same thing (using react-mysonry-component with react-infinite-scroll)

[2016-01-31 21:21] sinkpoint commented on #26
It's not that. It's the scroll height.
If there are say first 20 items, there would be a long scroll height.
If if the number of items then change to 1, then in theory the scroll height should match the item and the scroll bar would be gone.
Right now, the scroll height is maintained, and the user would be scrolling empty space.

[2016-01-31 22:06] afram commented on #26
Without seeing the code in context, here are the things I would look at.

- What does the DOM look like after 1 item is visible?
- What does the transition CSS look like?
- Have you tried it without the transition group?
- The documentation for transition group indicates a requirement to include transition durations in the CSS and the component https://facebook.github.io/react/docs/animation.html

[2016-02-01 04:24] sinkpoint commented on #26
Thanks for the suggestions.
I have tried to disable the transition group and it does work properly, so the problem is in the transition timing.

I found the sweet spot is about less than 10ms for transitionLeaveTimeout.
It's also not clear to me how this would play in conjunction of masonry's  transitionDuration, so I keep it disabled.

This however means that fade-out transitions are not possible

[2016-02-04 22:51] afram commented on #26
@sinkpoint sorry for the delay in getting back to you - I was out of the country and away from internet.

Hopefully you found the answer in the mean time, though just in case, this answer outlines how you can access the instance masonry used in the component.

When the transition ends, you can call masonry.layout()

[2016-02-05 16:47] mull opened #27 "masonry-layout 4.0"
Hi folks!

I noticed that Masonry 4.x is out, and it seems to me that it cuts file size pretty heavily by not requiring jQuery (don't quote me on that at all...) Is work being done to upgrade? I can possibly help, though I'm not familiar at all with the code base yet.

[2016-02-05 17:33] afram commented on #27
hi @mull Yes this is in the works. Masonry 4 I believe drops support for IE8, so it'd be a major release. Will look to push it through into beta tonight/tomorrow

[2016-02-08 14:29] moimael commented on #27
Any news on this ? :)

[2016-02-09 20:34] afram commented on #27
This is done and published to npm as 4.0.0

[2016-02-09 20:34] #27 closed

[2016-02-12 00:49] dcworldwide commented on #25
Hey @bfic

@eiriklv's approach above works well. I had no issue getting it working, but in the end, I decided not to use react-inifinite-scroll but instead used https://github.com/joshwnj/react-visibility-sensor.  My choice was largely because I didn't feel comfortable using a fork, but that is just a preference. Either works well.

[2016-03-05 14:25] afram commented on #26
@sinkpoint I would like to close this issue as it has been inactive for 1 month. Please reopen if you are still having issues :-)

[2016-03-05 14:25] #26 closed

[2016-03-05 14:27] afram commented on #17
closing as not an issue

[2016-03-05 14:27] #17 closed

[2016-03-05 14:28] afram commented on #9
@john-osullivan I would like to close this issue as it has been inactive for a while. Please reopen if you are still having issues :-)

[2016-03-05 14:28] #9 closed

[2016-03-06 03:59] erkartik91 commented on #5
I added reference to my Masonry instance using the following code
`ref={function(c) {this.masonry = c.masonry;}.bind(this)}`

and now can manually trigger resize using the following code
`this.masonry.layout()`

Hope this helps.

[2016-03-16 01:59] stanleycyang opened #28 "Server-side renders flashes broken Masonry view"
On initial load:
![screen shot 2016-03-15 at 6 59 04 pm](https://cloud.githubusercontent.com/assets/3037893/13799806/11c7bc1c-eae0-11e5-88cc-6e32fdcdfa39.png)

On client-side JS kick:
![screen shot 2016-03-15 at 6 59 00 pm](https://cloud.githubusercontent.com/assets/3037893/13799801/07fbd66e-eae0-11e5-80f3-5d29fb2de498.png)

[2016-03-16 02:00] stanleycyang commented on #28
This is when using isomorphic react + react-router

[2016-03-16 14:25] afram commented on #28
@stanleycyang have you tried using Masonry's `stamp` method?

http://masonry.desandro.com/methods.html#stamp

[2016-03-26 22:05] wkw commented on #11
Also hit this buglet. Same situation, I have a list of items and the ability to filter the set. When going from a filtered view to the "All Items" view, I end up with stacking, empty space in first row. I spent time trying to "kick" masonry to re-layout in componentDidUpdate (didn't work), then tried calling masonry.layout() in a setTimer(). No work.

I next did the horrible thing of making my ele

[2016-03-30 22:25] emzero opened #29 "How to append/prepend items without re-rendering the whole grid?"
In my React application I've set a timer that polls for new posts from a certan API. Whenever a new post is fetched, the component that holds the Masonry component receives the updated array of posts causing the `render()` method to trigger. This causes the whole grid to be re-rendered (all the items do the animation, instead of just the new ones).

In the old project I used to do that the masonry

[2016-03-31 00:02] emzero commented on #29
Nevermind. I was doing things wrong.

Works like a charm!

[2016-03-31 00:02] #29 closed

[2016-04-11 05:10] Peege151 commented on #28
Just coming across this now, and I'm having the same issue.  Has anyone progressed this or done any work on this yet? As of now I am adding Masonry to the state in a componentDidMount().

[2016-04-11 15:29] afram commented on #28
@Peege151

I believe server side rendering in place is not a trivial thing to accomplish. There are a few ways to solve this problem, and probably a few more I haven't considered.

1) Assuming responsive design, on the initial request you do not know the width of the viewport, only the useragent. From there you would have to map devices to likely viewport widths and probably use jsdom to render in

[2016-04-14 02:40] kevinchiu opened #31 "How do you center the grid elements?"
How do you tell the grid elements to pack center instead of left?

[2016-05-02 13:01] afram commented on #28
I ended up going with option 3. A small number of items is rendered server side and the rest loaded async on the client.

This works for my use case. If you do not want to split item rendering between server/client maybe you can consider loading all items on the client async.

[2016-05-02 13:04] afram commented on #31
@kevinchiu apologies for the late reply, I didn't see this ticket.

Have you found a solution?

Does this do what you want? http://masonry.desandro.com/options.html#fitwidth

[2016-05-02 19:06] afram commented on #21
@chowza I am going to close this due to inactivity. Please reopen if this is still an issue for you. :-)

[2016-05-02 19:06] #21 closed

[2016-05-14 15:23] karaxuna commented on #28
I changed opacity depending on where it is rendered, on client side or on server side:

    var style = {
        opacity: process.env.BROWSER ? '1' : '0'
    };

    <div style={style}>
            <Masonry options={options}>
                  ...
             </Masonry>
      </div>

[2016-05-18 09:21] foodaka opened #36 "Working in Safari?"
Has anyone got this working in safari? I have it working in chrome and firefox, but safari crashes

[2016-05-22 18:21] afram commented on #36
hi @foodaka It's working fine for me, how does it crash in Safari?

Could you possibly provide a code sample?

[2016-05-24 02:12] olalonde opened #37 "Preserve children order?"
Is there any way to prevent masonry from re-ordering elements? I don't need the "optimal" placement of elements as the order of my elements is important. All I want is for 2 elements in the same column to have no whitespace between them.

[2016-05-24 08:58] afram commented on #37
Hi @olalonde

Do you have a code sample we could look at all?

[2016-05-30 05:25] Ajar-Ajar opened #39 "Virtual render for big number of items?"
Hi, Just wanted to ask if there is a way to use virtual rendering to be able to render a big number of items and implement infinite scrolling...
I use this Masonry component to render "cards" that each contains a small image gallery. it renders great with a small number of items, but with a few hundreds it gets clunky...
is there a virtual rendering at all to ensure only the part of the least bein

[2016-06-15 00:26] mbeauchamp7 opened #41 "ES6 & Typescript"
Hi, I've been struggling to make the events work with typescript. I followed the example you gave but it just never fires. Maybe I'm doing something wrong, i don't know, I'm quite new to react and typescript/es6. Would be cool if you could provide a complete example!

Here's a small portion of the code

Thanks

[code]

[2016-06-16 22:25] afram commented on #41
@mbeauchamp7 The reason is that master is not yet on NPM. I will endeavour to publish version 4.1.0 asap and let you know. Sorry about that.

[2016-06-16 22:27] afram commented on #39
hi @Ajar-Ajar react-masonry-component is composable with potential solutions for this, though you'd have to write one up or find something that works. It doesn't support it out of the box.

[2016-06-16 22:37] mbeauchamp7 commented on #41
Ahh! I knew something was wrong :) thanks. I worked around it by using the library manually like this

[code]

Maybe not the best way to do it but it worked..

[2016-06-28 05:07] emzero opened #42 "TypeScript definition d.ts file?"
Would you consider including a TypeScript definition file in the package?

http://www.typescriptlang.org/docs/handbook/typings-for-npm-packages.html

[2016-06-29 22:12] afram commented on #42
@emzero Yeah no issues with that

[2016-06-29 23:32] afram commented on #41
@mbeauchamp7 this should work for you now in v4.1.0

Please let me know if you have any issues. Closing this Issue.

[2016-06-29 23:32] #41 closed

[2016-06-29 23:34] afram commented on #37
@olalonde There are ways to achieve a masonry effect using CSS only - though it's a bit limited. Have you tried any of those?

[2016-06-29 23:35] afram commented on #31
@kevinchiu closing due to inactivity. Please reopen if this is still an issue :-)

[2016-06-29 23:35] #31 closed

[2016-06-29 23:37] afram commented on #28
@karaxuna I'm curious how that works for you? What happens on the client?

[2016-06-29 23:38] afram commented on #36
@foodaka  closing due to inactivity. Please reopen if this is still an issue :-)

[2016-06-29 23:38] #36 closed

[2016-06-29 23:39] afram commented on #42
@emzero do you feel like contributing one? 😛

[2016-06-29 23:42] emzero commented on #42
@afram I'm actually pretty new to TypeScript and definitions so I did my bare minimum to make it work.

Here's what I got. I don't think a full PR is worth it, so here you go. Anyone is welcome to improve it.

[code]

[2016-06-30 06:53] olalonde commented on #37
Thanks, I ended up cropping my images to get square thumbnails instead.

[2016-06-30 06:53] #37 closed

[2016-06-30 23:07] afram commented on #42
@emzero No worries.

I don't use TypeScript, please let me know how this beta version works for you. If it's all good I can release the next version.

`npm i react-masonry-component@4.1.1-beta1 -S`

[2016-07-01 19:55] Aweary commented on #31
@afram that link isn't even for this project, is there an option in react-masonry-component that provides that behavior?

[2016-07-02 22:10] wjramos commented on #42
So, I am actually curious -- why TypeScript over React PropTypes?

[code]

[2016-07-02 22:55] emzero commented on #42
@wjramos With TypeScript there's no need to use React PropTypes since a strongly-typed component using an interface to describe the props provides the same type checking at compile time.

[Related](https://github.com/Microsoft/TypeScript/issues/4833)

[2016-07-02 23:38] emzero commented on #42
@afram That doesn't work because it depends on React typings being installed as a global module and might not be always the case. I'm also getting another error from Typescript.

TypeScript 2.0 is about to be released and it will drastically improve the way d.ts files are distributed for npm packages. So I would suggest that we just wait for it to include a proper d.ts file.

In the meantime, you

[2016-07-03 00:36] emzero commented on #42
@wjramos What do you mean?

[2016-07-03 20:01] afram commented on #42
@emzero I've updated the typings to import React directly. Can you please let me know if this works for you?

This was a quick "fix" based on an hour of reading, not sure if it's going to work.

Either way, you've motivated me to start taking TypeScript a bit more seriously.

`react-masonry-component@4.1.1-beta3`

[2016-07-03 21:30] emzero commented on #42
The TypeScript compiler is complaining.

[code]

I actually have no idea how to make use of another external lib's typings. I've posted a [question](http://stackoverflow.com/questions/38165301/typescript-how-to-import-a-typed-module-in-a-d-ts-file-in-a-npm-package) on SO but no answers yet.

As I said, TypeScript 2.0 will use npm to manage typings so it should provide better dependency management.

[2016-07-05 14:00] jamieshepherd opened #44 "Unknown prop warning"
Updated React today to be greeted with this warning in the console. Haven't changed anything from my masonry component, still trying to figure out exactly how to prevent it. Only Masonry triggering this warning. My code is standard from README.md.

![image](https://cloud.githubusercontent.com/assets/5076961/16587140/15ac8e5a-42c1-11e6-866e-7773cac7606d.png)

Linked: https://fb.me/react-unknown-pro

[2016-07-05 14:01] jamieshepherd commented on #44
[code]

[2016-07-05 14:46] afram commented on #44
Thanks for reporting @jamieshepherd will investigate tonight

[2016-07-07 22:16] afram commented on #42
@emzero I think I may have found a possible solution, can you please try this version? Appreciate your help in getting it out there :-)

`react-masonry-component@4.1.1-beta4`

[2016-07-07 22:17] afram commented on #44
@jamieshepherd this is happening because those props are being passed down to the div this component creates.

I'll update the code base and will let you know when it's released

[2016-07-09 03:39] emzero commented on #42
@afram

I'm using `typescript@next` which is the 2.0 preview version for the next TS version that's just around the corner.
The following declaration file works great with this version. I wouldn't really bother to make it work with 1.8 today.

[code]

I've also added an interface for the options.

[2016-07-09 03:40] emzero commented on #44
I was about to post the same issue.
The custom props don't have to be passed down to the rendered div.

[2016-07-09 10:23] afram commented on #42
Great thanks, this has been merged into v4.2.0

[2016-07-09 10:23] #42 closed

[2016-07-09 10:24] afram commented on #44
fixed in v4.2.0

[2016-07-09 10:24] #44 closed

[2016-07-10 23:55] emzero commented on #42
@afram Could you add a line to the `interface MasonryPropTypes` so we can add styles to it?

`style?: Object;`

[2016-07-13 16:12] robinelvin opened #45 "Will not compile with TypeScript"
With

`import * as Masonry from 'react-masonry-component';
`

I get

[code]

"typescript": "^1.8.10"
"react-masonry-component": "^4.2.0"

EDIT: I see this could be a duplicate of #42

[2016-07-14 08:26] afram commented on #45
This is a 'known' issue and probably a won't fix.

The issue is that the definitions are for typescript 2.0.0. You will need to copy/paste your own bindings for previous typescript versions.

The instructions are in that issue you referenced

[2016-07-14 08:29] afram commented on #42
done v4.2.1

[2016-07-14 08:52] robinelvin commented on #45
Thanks @afram
I can confirm that switching to Typescript 2.x fixes the error

[2016-07-14 08:52] #45 closed

[2016-07-21 09:48] jbrat opened #46 "Problem left position 0"
Hello,
I try to implement your react component in a project but the margin left is all the time equal to 0.

My React compoment :
`
import React from 'react';
import ReactDOM from 'react-dom';
import Masonry from 'react-masonry-component';
import { default as Video, Controls, Play, Mute, Seek, Fullscreen, Time, Overlay } from 'react-html5video';

var masonryOptions = {
    itemSelector: '.grid-ite

[2016-07-21 23:53] afram commented on #46
Hi @jbrat I'm terribly sorry, it's very late here and I'm away for the next 2 days. I will try to jump on and help asap, I didn't get a lot of time to look through this.

Hopefully you find your solution before then, otherwise I'll catch up with you soon!

[2016-07-28 16:20] kandros opened #47 "avoid reordering"
Is it possible to avoid reordering when more items get added?

current behaviour http://www.hearsay.me/
the desidered behaviour is this http://pintevent.com/

[2016-07-28 16:33] afram commented on #47
have you tried the stamp API that comes with Masonry?
http://masonry.desandro.com/methods.html#stamp

[2016-07-28 18:43] ybv opened #48 "masonry instance is not accessible"
I've been trying to get a hold of masonry instance after `render()` by passing masonry via `refs` like so..

[code]

Not sure what I'm missing here. Would be awesome if you can get a chance to help out.
/cc @eiriklv

[2016-07-28 20:31] kandros commented on #47
@afram I'm not familiar with masonry api, but it stamp supposed to work if the stamped elements are stamped by masonry itself? do you mind provide a snippet?

[2016-07-28 21:50] kenhoff commented on #31
I know this is already closed, but I wanted to say that I was able to get that solution (http://masonry.desandro.com/options.html#fitwidth) working correctly.

Just add `fitWidth` into the `options` prop, and style whatever you passed in as `className` with `margin: 0 auto`.

Thanks!

[2016-08-10 22:42] kyleicebreaker commented on #48
you need to bind the function you pass into ref to _this_

ref={function(c) {this.masonry = c.masonry}.bind(this)}

[2016-08-12 11:21] Exomnius opened #49 "Unknown proptypes passed down to elementType node."
Since react v15.2.0, you will get a warning when you pass a prop, that is not in the proptypes, to a DOM node.

Example:

[code]

Gives the following warnings:
Warning: Unknown props `elementType`, `options`, `disableImagesLoaded` on ul tag. Remove these props from the element. For details, see https://fb.me/react-unknown-prop

[2016-08-12 16:54] kandros commented on #47
I've tried basically all masonry's option, but the reordering is always present. in case someone find a solution please let me know

[2016-08-29 18:36] afairbrother commented on #48
Despite binding the function to this there is still an error in the console. `Uncaught TypeError: Cannot read property 'masonry' of null`

[2016-08-29 19:07] alwynsays commented on #48
I've relegated to doing something like:

[code]

And to reference in another method within the component:
[code]

[2016-08-29 19:34] afairbrother commented on #48
Ah, thanks @alwynsays, this worked for me

[2016-09-06 20:59] jarindr commented on #11
Thank god I saw this issue, was trying to figure out what's happening with my layout with filtering involved. Hacked with div height 1 width 1 just the same.

[2016-09-14 20:19] hburrows opened #50 "Notes on using webpack in the readme"
Are the `Usage with webpack` instructions in the README still applicable.  I use webpack, I didn't install/configure the `imports-loader` and everything works fine.  To the contrary... if I install and configure the `imports-loader` per the instructions webpack stops working.  I'm asking in case I'm overlooking something important.

[2016-09-14 20:22] hburrows commented on #50
Maybe this was necessary with older versions of masonry and imagesloaded ??

[2016-09-14 21:05] afram commented on #50
Hi @hburrows

Which version of Webpack are you using?

At the time of writing the Readme, the import order Webpack used was AMD then commonjs. This meant that some dependencies didn't play nice (imagesloaded plus others)

Things may have changed though, so thanks for bringing this up :-)

[2016-09-14 23:40] hburrows commented on #50
@afram Thanks for the followup.  I'm currently using Webpack version 1.13.2 (which is the most recent in the 1.X line).

[2016-09-18 15:10] UgRoss commented on #48
[From React Docs](https://facebook.github.io/react/docs/more-about-refs.html):

You can do it like this:
[code]

and

[code]

[2016-09-18 17:51] mrsufgi commented on #28
@afram can u explain how did u actually got option no.3 to work? the items that are rendered via server still need a browser width no?

[2016-09-19 15:24] mrsufgi commented on #28
I tried using it with my SSR app, and unfortunately it doesn't apply the grid inline styling on the server pass, no reason why it shouldn't. Since this grid is based on percentages, it might be the best solution for SSR grid

[2016-09-19 20:02] afram commented on #28
@mrsufgi I use the useragent in the request header to determine how many items to render across the first row. I then load the rest on the client.

This is a little hacky admittedly, but it does the job for my use case. We are probably going to move away from this and to a different UI layout anyway.

Hope this helps.

[2016-09-19 20:04] afram commented on #50
Hmm, I wouldn't have thought they would change such a critical implementation detail without a major version bump, so I'd be very surprised if the import order has changed in that version. I'll check my setup when I have a second and report back.

[2016-09-19 20:05] afram commented on #49
Ta, will get this sorted out asap.

[2016-09-29 13:46] Hazantip commented on #39
@Ajar-Ajar @afram Is someone found solution for this?

[2016-10-02 06:32] Hazantip opened #51 "Broken image"
Hi. Is anyone know how to detect broken image? not anyBroken, i want to check each image on load for know is it loaded, broken, and create some placeholder for image, and then when image is loaded === true, change placeholder to loaded image or to broken placeholder.

[2016-10-02 16:17] afram commented on #51
Hi @Hazantip

You can probably create a custom image component that will handle this for you. If I understood correctly, You want to first have a default placeholder (img1) which will either switch out for the actual image (img2a) or the 'broken image' placeholder (img2b) if img2a is unavailable - is this correct?

In this situation I would probably have img1 as the default img.src value, and then

[2016-10-02 16:57] afram commented on #49
@Exomnius What version of react-masonry-component are you using?

This should have been sorted from version 4.2.0

[2016-10-02 17:15] afram commented on #48
@ybv not sure why this isn't working for you. It's working fine for me and my code looks very similar to yours.

What versions of React/react-masonry-component/babel are you using?

[2016-10-04 01:22] druellan commented on #51
I'm also into this. So far I've found that;

1. You can convert your <img> into an external component and use AJAX to test the image and return the template if positive. Didn't test this through, since the async affected other components.

2. Call the onload event like:
`<img src={image} onClick={(e) => (this._handleClick(e, item)) } onLoad={(e) => (this._onImgLoad(e, item)) } />`
You'll probably

[2016-10-05 09:44] Hazantip commented on #51
Thanks everyone! I tried to find solution under default callback function
`onImagesLoaded={this.handleImagesLoaded}`,
cause inside it we can access to some variable like `images`
`handleImagesLoaded(images) {....}`
and this variable give us some info about loaded images, process, and isAnyBroken; i thought that there was some way to with this check each images on is it loaded.

At this moment is s

[2016-10-06 20:35] druellan commented on #51
@Hazantip I tested a similar solution, and one thing I noticed is that sometimes, after a grid refresh, the first element on the grid wasn't triggering the onload event.
Not sure if that was caused by something on my code, but worth double check, just in case.

[2016-10-12 08:04] Exomnius commented on #49
Thanks for the reply! It seems to be resolved now. A clean checkout and rebuild fixed it so it was probably an older version.

[2016-10-12 19:53] ConneXNL opened #53 "The function componentWillReceiveProps..."
The

[code]

Is this block really needed as it seems to cause everything to run twice and it seems that I get some minor animation transition problems.

[2016-10-14 12:57] afram commented on #53
This has been there from the beginning (before I started working on it). Have you tried removing the block? It might have been there for an edge case that used to exist. @eiriklv do you have anything to add?

[2016-10-14 13:06] eiriklv commented on #53
@ConneXNL @afram I remember that there was some issues with the masonry not updating in very rare occasions without this hack. But that is a long time ago (many React and Masonry versions ago). Try to remove it and see if things still work as expected and that the tests run. If so you could just remove it :-) Should there be any issues down the line we'll at least have an idea of where to poke.

[2016-10-15 21:40] ConneXNL opened #54 "react-masonry-component doesn't respect masonry's initLayout setting"
I am trying to handle the call of .layout() myself and looking at masonry's docs one can disable the layout by setting initLayout to false.

However this component doesn't use this variable to disable the following lines that trigger layout:
[code]

[2016-10-17 21:16] afram commented on #53
@ConneXNL can you please try `@4.2.3-beta` to see how it works for you?

[2016-10-18 21:39] afram commented on #54
Yeah that's something that can be added easy enough. Are you comfortable enough to submit the required changes in a backwards compatible way?

[2016-10-18 21:50] afram commented on #51
I'm going to close this issue. Please feel free to reopen to discuss further if needed.

[2016-10-18 21:50] #51 closed

[2016-11-03 11:58] afram commented on #5
fixed in `react-masonry-component@4.3.0`

[2016-11-03 11:58] #5 closed

[2016-11-03 12:00] afram commented on #53
updated in `react-masonry-component@4.3.0`

[2016-11-03 12:00] #53 closed

[2016-11-03 19:01] hburrows opened #56 "Error if enableResizableChildren is false"
Upgrading from `4.2.1` to `4.3.0` and getting the below exception.  In my case,  `enableResizableChildren` is `false` so `initializeResizableChildren` returns without setting `this. erd`.  When `destroyErd` is called (from `componentWillUnmount`) it unconditionally references `this.erd` resulting in the following error.  This is a result of PR #55.  All is fine with `4.2.1`

[code]

[2016-11-04 02:06] afram commented on #56
Sorry about that, should be fixed in `4.3.1`

Please let me know if it solves it for you.

[2016-11-04 04:19] hburrows commented on #56
Yep.  Totally fixed the problem.  I was tempted to submit a PR but I'm not that familiar with the code and figured it was a trivial fix for someone that was.  This is a great package and works really well for my use cases.  Thanks for the great work !!!

[2016-11-04 04:26] afram commented on #56
No worries, glad you find it useful :-)

[2016-11-04 04:26] #56 closed

[2016-11-07 14:52] yoadsn commented on #50
I also installed the npm package without any changes to my webpack configuration (I don't use the import-loader).
It works for me, I cannot find any noticeable problems.

I did look into all the top level packages used by this component and all seem to support webpack officially. Probably that is what changed.

The only thing which could still behave weird is this package's conditional "require" s

[2016-11-09 21:07] emzero opened #57 "Error in typings: Exports and export assignments are not permitted in module augmentations."
TypeScript 2.0.3 throws the following error on `typings.d.ts`

[code]

I don't know why this is not allowed but I'll do some research on how to workaround this problem.

[2016-11-09 21:29] emzero commented on #57
The problem is that the export needs to be outside the "declare module" and in order to declare a variable (`Masonry`) we need to use the `declare` keyword,

Here's the working `typings.d.ts` file. I guess you can just replace the contents of it. I don't think forking your project and submitting a PR is worth the trouble.

Thank you

[code]

[2016-11-22 19:33] cwmoo740 commented on #57
https://github.com/eiriklv/react-masonry-component/pull/59

[2016-11-22 22:14] afram commented on #49
No worries @Exomnius

[2016-11-22 22:14] #49 closed

[2016-11-22 22:16] afram commented on #57
I have merged in #59 and will close this issue. Please reopen if needed

[2016-11-22 22:16] #57 closed

[2016-11-22 22:17] afram commented on #48
I'm closing this issue. Please reopen if needed.

[2016-11-22 22:17] #48 closed

[2016-11-23 16:05] fk commented on #50
Yup, I can confirm that things work fine without `imports-loader` for masonry-layout 4.x.
Hunting down the original issue I stumbled across [this comment](https://github.com/desandro/masonry/issues/679#issuecomment-173403981):

[2016-11-23 22:03] afram commented on #50
Great thanks all.

I have added a deprecation notice and will remove this section of the README in due time.

Closing this issue now, please feel free to open if needed :-)

[2016-11-23 22:03] #50 closed

[2016-11-24 19:55] rickyrauch opened #60 "Use"
Hello,

I was expecting to use this component like this:

[code]

And I'm getting this error
[code]

[2016-11-24 22:50] afram commented on #60
Hi @rickyrauch

What does gallery.js look like?

[2016-11-24 23:20] rickyrauch commented on #60
Hello @afram

Exactly as your example.
[code]

[2016-11-24 23:26] afram commented on #60
This example expects `elements` to be passed into Gallery as a prop. I suspect this is where it's failing for you.

You probably want something more along the lines of:

[code]

[2016-11-25 00:04] rickyrauch commented on #60
@afram Thanks for clarifying,

I still want to use this
[code]

[2016-11-25 21:17] afram commented on #60
No problem, that's easy done, though in a slightly different way to how you initially had it.

[code]

[2016-11-25 22:17] rickyrauch commented on #60
Yes, that's what I did.

I think the best approach would be:

[code]

[2016-11-25 23:27] afram commented on #60
That's really up to you :-)

I would ask the question "Why are images displayed in an unordered list?" - this example was largely to show people the component's flexibility.

Good luck, glad I could help :-)

[2016-11-26 00:29] rickyrauch commented on #60
I'm not saying `<ul>`, my example tries to show my own code. Instead of `<ul>` could be `<div>`. Parent (`div` or `ul`) and its childs (`div` or `li`)

[2016-11-26 09:59] afram commented on #60
No problem.

I'm closing this now as I hope I managed to answer your question.

Please reopen if you need to!

[2016-11-26 09:59] #60 closed

[2016-12-24 10:09] mikelambert opened #61 "Broken rendering when removing elements"
I am adding/hiding elements within my <Masonry> component in response to a filter bar (kinda like what Isotope does). Everything works beautifully with animation, except removal of elements at the top of the Masonry layout:

When I have items 1-20 in the Masonry component, and then remove items 1-10, it leaves items 11-20. Unfortunately, instead of laying these out appropriately, it renders them a

[2016-12-24 10:57] afram commented on #61
@eiriklv do you know why it was done this way originally? This code has been here from the beginning.

[2016-12-24 11:47] eiriklv commented on #61
I seem to recall that this was done because of how React worked internally, which may very well have changed. All of the diffing stuff is done avoid a complete re-layout and to be able to leverage the different methods that Masonry has.

The `oldChildren` should contain only the elements that remain from the last render.

Let me see what I can dig up from the back of my mind 😅

[2016-12-24 12:01] eiriklv commented on #61
From looking at the code (not able to test it atm), I can't really see why I did it this way. It's either just plain wrong from my part, or I did it for some obscure reason which I do not remember. The solution proposed by @mikelambert should work (thanks for poking!). And if it does in practice, then all is good in the hood 👌 Submit a PR 👍

Merry Christmas everyone 🎄🎅😌

[2016-12-24 13:28] mikelambert commented on #61
Thanks for the quick investigation!

[2016-12-26 09:48] #61 closed

[2016-12-26 10:09] afram commented on #61
fixed in v5.0.0

[2016-12-26 17:50] pyros2097 opened #63 "Layout seems to stack up?"
Sometimes the masonry layout seems to work when my data is loaded from the server. But sometimes it's just messed. Tried to debug it and couldn't find it.
Can someone help me with this?
I don't know if this is related to this https://github.com/eiriklv/react-masonry-component/issues/54

![screenshot from 2016-12-26 23-09-32](https://cloud.githubusercontent.com/assets/1687946/21484968/92e768c0-cbc1

[2016-12-28 06:50] yoadsn commented on #63
Hey,
Have been having this problem as well. For me it happens when I change the array of children cards in the Masonry component without unmounting/mounting the component itself.
This bug was introduced in 5.0.0 - reverting back to 4.4.0 and below resolves the problem.

This makes some sense since the change introduced in 5.0.0 is:
- Not done by the original maintainer
- Removed a check which is r

[2016-12-28 06:55] yoadsn commented on #61
Bummer - this change causes layout problems and a crash in 'componentDidUpdate' when I change the entire set of children of the component without unmounting it first.
Relates to #63
Trying to find a repro - but the original code probably had something to do with the use case I have.

[2016-12-28 07:12] yoadsn commented on #63
Ok, Here is a repro of this problem:
http://www.webpackbin.com/EkbX-8h4G
Clicking the "switch" button would change the children (entirely) and would cause an exception as well as the "stacking up" behavior.

[code]

[2016-12-28 07:34] yoadsn commented on #63
Some more info on the crash:

react-masonry: `performLayout` calls `var diff = this.diffDomChildren();` and get list of dom elements.
react-masonry: `performLayout` calls `this.masonry.remove(diff.removed);` since there are "removed" elements.
masonry: delegates the `remove` call to `outlayer`.
outlayer: finds the outlayer items for each element and calls `remove` on each item.
outlayer item:  cal

[2016-12-28 10:34] mikelambert commented on #61
Sorry about the breakage/regression. :(

After this change, I was getting 20 `oldChildren` (as stated in my original post as my goal....because doing so *also* made `removed` work too). I guess I'm unclear and had a different interpretation of eiriklv's statement: "All twenty elements remain from the previous render (in the DOM), and then ten need to be removed from it."

Namely:
[code]

With your

[2016-12-28 10:52] yoadsn commented on #61
No worries, we will figure it out eventually. I currently reverted back to 4.4.0 until I know how to best proceed.

Seems like you use the same approach for the keys as I do - so it doesn't make sense to me how you take children which are no longer attached to the parent in the dom, send them to "remove" of Outlayer and do not crash with the same error.
Only explanation I could think of is somethi

[2016-12-28 10:53] mikelambert commented on #63
Hey there, thanks for debugging, and sorry for the breakage. Totally agree it's probably related to my change, for all the reasons you mention. ;)

Nice discovery on the Outlayer memory leak in the old code, regardless!

In my case, with the original code `react-masonry-component` code, I found that the old elements I had deleted from my array-of-masonry-children were being *skipped* from `getDiff

[2016-12-28 11:17] yoadsn commented on #63
Thanks for the live example - it helped.
The difference, is in the option `transitionDuration` - when it's 0 the crash occurs - otherwise it's not.
Why would that matter?

Checkout the code in Outlayer for [removing](https://github.com/metafizzy/outlayer/blob/910f139591665752a0e779460438a6404eed4977/item.js#L451-L463) an item:
[code]

So clearly the removal process considers the transition duratio

[2016-12-28 11:27] mikelambert commented on #61
I am running the following without any console errors:
- react-masonry-component 5.0.0
- react 15.4.1
- masonry-layout 4.1.1 (transitively)
- outlayer 2.1.0 (transitively)

Though I think we've figured out in https://github.com/eiriklv/react-masonry-component/issues/63 why there is no crash in my code...the fact that I don't use transitions and both 5.0.0 crash bug repro cases do.

However (and th

[2016-12-28 11:33] yoadsn commented on #63
Ok, after some more debugging the transitionend event indeed **does not fire** for the elements which are not in the DOM - the crashing code does not run.
It has nothing to do with the lines I suspected.
I think it's due to the fact the elements outside of the DOM are not getting transition events (and transitions at all for that matter).

So, it;s only by chance that the crash did not occur in yo

[2016-12-28 11:40] eiriklv commented on #61
Then there was a reason after all (which I could not remember previosly).

Unfortunately the projects I initially created this for has been dormant for years, so my intimate knowledge of the inner workings isn't as fresh anymore 😅.

If I had more time I would help out more, so thank you so much for poking and fixing guys!

I also agree that the naming can be vastly improved 👍 That would probably m

[2016-12-28 13:32] afram commented on #63
I've created 2 new test cases - one with default transition and one with explicit transitionDuration set to zero.

The test case you would expect to fail now fails. :-)

[2016-12-28 13:35] yoadsn commented on #63
Awesome. Thanks. I will wait on @mikelambert for a repro on his original problem before attempting to suggest a fix.
For anyone reading this at the moment including the OP - three workarounds are possible:
- revert to 4.4.0
- use "stable keys" - so that the index of the children will not change and so react would not remove the children from the dom. (would only take you so far, since at some poin

[2016-12-29 00:03] mikelambert commented on #61
Alright, I have built a repro for my original bug: http://www.webpackbin.com/4kUsSX6NG

Seems that you used numerically-increasing keys (as did my initial failed attempts on webpackbin), which meant that removing items went from keys 0-to-9 to keys 0-to-4 (ie, there were only keys removed at the end of the list).

In my case, I'd prefer to re-use my components, and so am specifying a stable key. S

[2016-12-29 13:26] yoadsn commented on #61
This is an awesome bug. No doubt. Here are my findings.

Whenever the first-already-rendered item is removed from the dom by react - the breakage happens. (all boxes stacked on a single column)
As long as the first item remains and the others are added/removed - all is good, regardless if the detached elements are not removed from Masonry itself.

Why is that?

Looking at the "layout" code in maso

[2016-12-31 16:38] Keepcase commented on #61
Thanks for looking into this! I had to roll back to 4.4.0 as the layout is broken in 5.0.0 as you guys  discovered.

I'm using react 15.4.1 as well.

[2017-01-01 06:39] yoadsn commented on #61
Sorry to hear - Hopefully a fix is on the way.
You can also set the transition time to anything above 0 (even 1 ms) to work around the problem with 5.0.0.

[2017-01-04 22:44] afram commented on #61
v5.0.1 released

[2017-01-05 09:37] arpecop opened #65 "handleImagesLoaded triggers multiple times"
handleImagesLoaded triggers multiple times,
I am using:
`onLayoutComplete={handleImagesLoaded}`
with function inside the createClass
`onLayoutComplete={this.handleImagesLoaded}`
it triggers 2 times , otherwise its 4 or 5

[2017-01-05 13:34] homs44 opened #66 "Error occur on IE"
return {
            old: knownChildrenStillAttached, // Not used
            new: currentDomChildren, // Not used
            removed: removed,
            appended: appended,
            prepended: prepended,
            moved: moved,
            //forceItemReload <- this code occur error on IE (message : ' : ' is required)
         forceItemReload:forceItemReload
};

[2017-01-06 13:05] finbarmaginn opened #67 "webpack production build - SyntaxError"
I'm no expert and understand that raising this as an issue may not be the correct thing to do, I just cannot get it to work.

The plugin works fine in my dev build process but when trying to compile for production i'm getting this error.
[code]
The error is coming from UglifyJs so could it be something to do with my webpack config? see below for the uglify plugin configuration that i've been using

[2017-01-06 13:40] afram commented on #67
Looks like an issue with a recent change. Thanks for bringing it up. Will look at it tonight

[2017-01-06 13:40] afram commented on #66
Looks like an issue with a recent change. Thanks for bringing it up. Will look at it tonight

[2017-01-06 13:41] afram commented on #65
Looks like possibly an issue with a recent change. Thanks for bringing it up. Will look at it tonight

[2017-01-07 13:00] arpecop commented on #66
fixing all warning solved this , also moving the module outside the npm_modules and accessing it via './react-masonry-component'

[2017-01-07 13:14] afram commented on #66
This issue is due to es6 syntax used in the index.js file. Has been committed to master and will be published soon.

[2017-01-07 13:18] afram commented on #67
Should hopefully be fixed in 5.0.2

Can you please verify?

[2017-01-07 13:18] afram commented on #66
Can you please verify 5.0.2 fixes this for you?

[2017-01-07 13:29] homs44 commented on #66
Hi i check the lib but there is another error
I run my web using this lib on IE 9
maybe the problem is let statement

diffDomChildren :function(){
 let forceItemReload = false <- error

[2017-01-07 13:53] afram commented on #66
Yes you are right.

On 7 Jan 2017 13:29, "Ingyu Yoon" <notifications@github.com> wrote:

[2017-01-07 17:22] afram commented on #66
5.0.3 should sort it out.

I've also added eslint to avoid this happening in future.

Can you please verify?

[2017-01-07 17:22] afram commented on #67
Sorry, can you please try 5.0.3 instead?

[2017-01-07 19:32] finbarmaginn commented on #67
I can confirm that 5.0.3 is working. Thanks for a quick turnaround!

[2017-01-07 19:32] #67 closed

[2017-01-26 00:09] abelsoares commented on #63
@yoadsn , @mikelambert , any update on this?

[2017-01-26 00:23] mikelambert commented on #63
@yoadsn's change ttps://github.com/eiriklv/react-masonry-component/commit/c844c9c83c632b1f5ec6b9ca261cf48f278cfa2d fixed my issue (and reverted my broken change), and was released as 5.0.1.

[2017-01-26 00:29] afram commented on #63
You'll want to use 5.0.3 as there were bugs in 5.0.1

[2017-01-26 09:12] pyros2097 commented on #63
Its fixed for me. I just had to add the masonry options disableImages and stuff...

[2017-02-01 18:27] DimaNodeJs commented on #46
still got this error

[2017-02-01 18:52] DimaNodeJs commented on #46
Any updates? it's still a big problem which doesn't allow to use this pretty nice lib in production for us... Tnx // @jbrat

[2017-02-01 19:21] DimaNodeJs opened #68 "Position left to all elements is 0 when first element is wider than other"
Everything the same except position of wide element in array. Masonry is initialized but work incorrect. All elements have position-left 0...

<img width="1369" alt="2017-02-01 22 16 28" src="https://cloud.githubusercontent.com/assets/20300753/22522344/486c9a40-e8cc-11e6-8bfb-3305c5c2d6a7.png">
<img width="1548" alt="2017-02-01 22 15 18" src="https://cloud.githubusercontent.com/assets/20300753/225

[2017-02-01 19:23] afram commented on #68
Hi @DimaNodeJs

Which version of react-masonry-component are you using?

Still at work right now, will do my best to look at this tonight with you.

[2017-02-01 19:24] afram commented on #68
Can you please paste up a simple reproduction of this issue on WebpackBin?

http://www.webpackbin.com/

[2017-02-01 19:40] DimaNodeJs commented on #68
@afram  "version": "5.0.3"

[code]

Could it be helpful? it's almost exactly the same code I use. Mb you can find something strange in my code.
If not I'll create an example later in several hours.

[2017-02-01 19:58] DimaNodeJs commented on #68
I think I had to set `columnWidth` property equal to smaller item.
But there is no information about it in docs((
btw thx for really quick reply and aspiration to help! )

[2017-02-02 08:11] afram commented on #68
no problem. columnWidth would be from Masonry's side. Can I close this now as resolved?

[2017-02-02 08:22] jbrat commented on #46
I haven't got any ideas to resolve this problem, i used another solution without masonry

[2017-02-05 05:03] kidequinox commented on #63
having overlapping issue on 5.0.3. tried transitionDuration and disableImages.

![screenshot 2017-02-04 at 8 29 55 pm](https://cloud.githubusercontent.com/assets/8398576/22623717/0162ee7a-eb19-11e6-895c-736ed39de715.png)

[2017-02-05 13:39] afram commented on #63
Hi @kidequinox

Have you tried this in Firefox/Chrome/Edge/Safari browsers with consistent results?

Can you please paste a code sample, or better yet, can you please create an example which demonstrates what you are experiencing on http://www.webpackbin.com/

[2017-02-06 05:06] pyros2097 commented on #63
These are the options i use,
[code]
I don't think this a masonry bug, it seems to me like your height for the container is fixed or something.

[2017-02-06 21:25] kidequinox commented on #63
I'm loading the image in as the background of the div, and using it's :after to make the div scale responsively in proportion.

`.audioImg:after {
    padding-top: 100%;
    display: block;
    content: '';
}`

@pyros2097 I have the same options settings.

It's Stacking in chrome/ff/safari.

[2017-02-07 10:51] yoadsn commented on #63
@kidequinox Perhaps I'm misreading your approach.
But since you are using background-image of the divs - they must have the correct size (width and height).

The styling you shared with us shows you are trying to use the intrinsic sizing approach to make sure your container divs take up all the space before the image is loaded.
"after" would not do - what makes your divs have height is the "paddin

[2017-02-10 14:11] kidequinox commented on #63
@yoadsn Your right, this is possibly another issue.

I was using the intrinsic sizing approach, so there is no set height on that div. So will setting the height and width style of the <div>  work ? I can do this in JS on the div's style and scale the values proportionally on window resize.

I'm using the image as a background so I can crop the image to a square via css.

p.s. I'm in a time crunch

[2017-02-11 02:52] goyney opened #69 "How can I use the Masonry method `stamp`?"
I need to stamp certain items in my grid, but cannot determine how to use the `stamp` method [defined in the official Masonry documentation](http://masonry.desandro.com/methods.html#stamp).

Is this supported or is there a workaround which can allow this method to be utilized?

[2017-02-12 22:15] afram commented on #69
Hi @goyney

You can access the masonry instance and use the stamp method.

https://github.com/eiriklv/react-masonry-component#accessing-masonry-instance

[2017-02-12 22:20] goyney commented on #69
I'd be interesting in seeing a working example, because utilizing the linked section of documentation does not allow the use of the stamp method.

[2017-02-12 23:29] afram commented on #69
http://www.webpackbin.com/N16LfRY_f

[2017-02-13 07:28] yoadsn commented on #63
@kidequinox Oh shoot - sorry dude I did not see your comment yet and did not know you are in a hurry.
Using padding to set the height of the div (relative to the width of the container) and then containing another div within it with
`left: 0; top: 0; width: 100%; height: 100%;`
Will get you a div (the inner one) in the right size (correct aspect ratio).
Then, you can either set an image to fill up

[2017-02-14 09:44] kidequinox commented on #63
Thank you @yoadsn this works for the intrinsic sizing approach!!! Thank you much!!

[2017-02-15 22:37] afram commented on #69
can I close this @goyney

[2017-02-18 14:09] afram commented on #69
I'm closing. Please reopen if needed.

[2017-02-18 14:09] #69 closed

[2017-02-18 14:10] afram commented on #66
closing. Please reopen if needed.

[2017-02-18 14:10] #66 closed

[2017-02-18 14:11] afram commented on #68
closing. Please reopen if needed.

[2017-02-18 14:11] #68 closed

[2017-02-21 00:31] indapublic commented on #65
@afram Same situation. Triggers 5 times on remote website and once on local machine

react-masonry-component@5.0.3
masonry-layout@4.1.1

[2017-02-21 00:54] indapublic opened #71 "Render issue (probably on slow connection)"
Example:

![screen shot 2017-02-21 at 10 53 11](https://cloud.githubusercontent.com/assets/856260/23146596/04ef7262-f824-11e6-8ad0-e28c100609cb.png)

How I can to fix it?

[2017-02-21 23:50] afram commented on #71
@indapublic What do your masonry settings look like and can you provide a code example? Preferably on something like webpackbin

[2017-02-28 00:58] afram commented on #65
@indapublic will look into it.

[2017-03-11 23:43] #71 closed

[2017-03-11 23:58] afram commented on #65
@arpecop @indapublic
I don't think this is a bug in Masonry or React Masonry Component.

the `layoutcomplete` event fires every time Masonry completes a layout. Do you find your layout updates several times on screen? This can happen as images are downloaded.

If you want to capture 1 event every X seconds etc, you could try using Lodash's throttle or debounce functions.

http://masonry.desandro.c

[2017-04-07 06:41] azhard4int opened #73 "Item overlapping"
Hi,

From the demo, it seems the masonry overlaps the items where the images are lazy loading http://prntscr.com/etgmp9

What would be the best way to resolve this?

1. Using SetInterval and call the plugin?
2. Calling upon the lazy load images callback?

If we implement over the lazy load images, it eventually slows down the whole page when the items are over 200-500? Same thing for the setInterv

[2017-04-07 22:41] afram commented on #73
The demo on the home page is at least 2 years old and from v1.0.1

Have you experienced these issues in your code or only in the demo?

[2017-04-10 07:43] conghai opened #74 "React.createClass is deprecated and will be removed in version 16"
[https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.createclass](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.createclass)

Please check it.

[2017-04-10 14:09] MrSauceman commented on #74
Same thing here, I'm surprised react throws this warning for an installed dependency...

[2017-04-11 20:29] byeo630 commented on #73
I have the same issue working with v5.0.3. The gallery I'm creating is supposed to look like this:
<img width="370" alt="screen shot 2017-04-11 at 1 22 38 pm" src="https://cloud.githubusercontent.com/assets/4149515/24929255/2ff274a2-1eba-11e7-8bea-cae7ee197dac.png">

But ends up looking like this:
<img width="370" alt="screen shot 2017-04-11 at 1 22 16 pm" src="https://cloud.githubusercontent.com/

[2017-04-11 20:53] afram commented on #73
could you please put up a code sample on https://www.webpackbin.com/ @byeo630

[2017-04-11 23:01] byeo630 commented on #73
Sure, here's an example. This is the structure of how I solved the problem. The webpackbin example is very simple, and doesn't have a lot of moving parts, so`this.performLayout` doesn't get invoked in the render method since there isn't an event that fires for the component to be rerendered. In my project implementation, it rerenders the gallery when new props are passed down, and when the gallery

[2017-04-12 10:06] kitze commented on #73
hey @byeo630 i'm curious, why is your example not stretching to the far right? Is this a bug with the library or with your example?

[2017-04-12 21:51] byeo630 commented on #73
The example wasn't centered because I didn't add any centering, not anything wrong with the library at all. I didn't think centering that important so I just made each image `30%` width so there was extra space on the right side. I just fixed it up now though, so it should be centered.

[2017-04-13 09:21] Fensterbank commented on #74
`index.js` needs to be rewritten in ES2015 to avoid this warning.
In fact this should be pretty easy, the component isn't very complex, but we need to upgrade / change the build tools to make this work with ES2015 and JSX.

[2017-04-15 17:10] afram commented on #74
Should be fixed in v5.0.5

[2017-04-15 17:10] #74 closed

[2017-04-15 17:15] arpecop commented on #74
npm update
pix@1.0.0 /Users/rudix/Desktop/arpecop/_apps/pix
└── react-masonry-component@5.0.5
wow guys , just wow

[2017-04-15 18:12] afram commented on #74
@arpecop can you elaborate?

[2017-04-15 19:16] arpecop commented on #74
No, actually I am amazed by the efforts you put in something   "open source" , this React update is pretty new and "Warnings" are too much to keep count and understand them ... not the case with this module
Thanks!

[2017-04-15 19:34] afram commented on #74
That's great to hear, thanks @arpecop!
While I've got your attention, did my comment help you with https://github.com/eiriklv/react-masonry-component/issues/65?

[2017-04-22 16:36] yueduz opened #75 "Turn off the animation when it first appears"
Request function

[2017-04-22 16:47] afram commented on #75
@yueduz can you please elaborate on this request? I'm not quite sure what you want :-)

[2017-04-23 15:57] yueduz commented on #75
I do not speak English, i use google translation. I want to disable the playing animation.

[2017-04-26 08:57] finbarmaginn opened #76 "gutter: 5 adds 5px padding to right hand side of component"
it adds padding to right hand side of the component. if i have a masonry component of 3 columns, then every third child item has 5px gutter on the right hand side of the child when really it should have 0 to allow for alignment in the design.

[2017-04-26 20:27] elmpp commented on #28
A simple hack i've employed is to just still do full SSR but with `style={{visibility: 'hidden'}}` on a top level container and then switch that off through the `onLayoutComplete` ref.

I tried initialising masonry on the server through a hacked `componentWillMount` but this was just plain silly

[2017-04-27 21:58] deltasoneca opened #77 "If first item is large enough, no position on whole list will work anymore"
Hi, first of all, congrats and thanks for the component! It was a breeze to implement and worked as a charm to do exactly what I wanted, except... in this case when my first item is large enough.

I use the component as a `<ul>` and each `<li>` is resizable with an onclick that changes its state, which then changes its CSS class, which then alternate the CSS width between: 31%, 62%, and 97%.

When

[2017-05-01 21:25] Hydeo opened #78 "Looking for exemples"
Hi there !

First sorry for the issue-oppening ! =/

I'm working on my first React project and Masonry is kind of magic for me right now, i'm trying to figure out how to use react-masonry and i'm in a desesperate need of exemples.

I'm trying to get something like the layout found in the exemple : http://www.hearsay.me/
I can't find the source of it, doesn't anybody knows where i can find there or

[2017-05-01 21:40] afram commented on #78
Hi @Hydeo The examples are in the Readme. Under the hood it's just Masonry. Please let me know if there's anything in the README that isn't clear.

[2017-05-04 06:52] rjohnep opened #79 "option horizontalOrder is missed"
Hi @eirikl,
Can you update dependencies for 'masonry-layout' (4.2.0) and add ['horizontalOrder'](http://masonry.desandro.com/options.html#horizontalorder) option?
Thanks.

[2017-05-10 02:51] LittleMonsterAK commented on #77
i have the same problem , can anyone help?

[2017-05-11 15:17] aarustar opened #80 "How can i use this component in angular4 ?"
can you send some examples because am new in angular2 and 4

[2017-05-13 12:41] afram commented on #80
This component is for React, not Angular.

Quick google search found this for Angular 2/4
https://github.com/jelgblad/angular2-masonry

[2017-05-13 12:41] #80 closed

[2017-05-18 20:54] hurrtz commented on #77
Oh dear god, and I thought I was the only one! I can absolutely back this up: If the first item (A) of a new row exeeds 50% width then the next item (B) will be moved to a new row, even if B would absolutely fit next to A on the same row.

The problem starts (at least in my case) when A exceeds width 31.7%.

[2017-05-18 21:41] #63 closed

[2017-05-24 13:52] hurrtz commented on #77
Ok, here's a way to fix this:
You have make sure that are items are of a magnitude of a base size.

Example:
You have items that are 1/3 of the screen size wide, 1/2 and 2/3. The 1/2 will not fit because they are not of a magnitude of the 1/3 (which is why 2/3 will work).

Solution: Create a virtual grid that all items can work with. In my example that grid would be 1/12. So I created an element f

[2017-05-30 13:15] witalobenicio opened #81 "There is a way to recalc height?"
I have 3 components inside <Masonry> and I want to recalculate the height setted to the container when all 3 components have finished loading.
How can I do that?

[2017-05-30 22:30] afram commented on #81
If I understand you correctly you want to work out what the container height is after layout is complete?

If that's so, you could listen to the `layoutComplete` event on the underlying Masonry instance.

https://masonry.desandro.com/events.html#layoutcomplete

Does that do what you want?

[2017-06-02 13:59] nguymin4 commented on #79
Hi @afram could you consider this? Thanks.

[2017-06-04 22:21] afram commented on #79
@rjohnep @nguymin4 You can already do this.

The horizontalOrder property is a Masonry option, you can just add it to your existing Masonry options.

I have also added the option to the TypeScript interface and bumped the min version of masonry-layout to 4.2.0 - It shouldn't make a difference for you unless you are using TypeScript.

I'm going to close this issue. Please reopen if needed.

Here's

[2017-06-04 22:21] #79 closed

[2017-06-04 22:22] afram commented on #79
Should add that 5.0.7 has been released with the changes mentioned above.

[2017-06-07 07:37] sarukuku opened #83 "TypeError: this.masonry.off is not a function"
We're getting this kind of error sometimes when navigating between views in our react app. It seems to happen randomly and I'm suspecting its some kind of a race condition.

![screen shot 2017-06-07 at 10 29 21](https://user-images.githubusercontent.com/1204559/26867221-2e061128-4b6d-11e7-9d0c-16c1bf7d12b5.jpg)

[2017-06-11 22:09] jgraniero commented on #65
Hi,

I think the issue might be with React Masonry Component in fact.

Each time `performLayout` is called, it calls `this.masonry.layout()`, which I believe will trigger the layout complete callback when it finishes.

`performLayout` is invoked each time `componentDidUpdate` runs.

`performLayout` seems to have checks to detect when the layout needs to be changed, however it calls `this.masonry.l

[2017-06-14 08:53] sarukuku commented on #83
@afram any ideas? :)

[2017-06-15 15:51] afram commented on #83
Do you have a code sample I could look at? @sarukuku

[2017-06-15 17:24] sarukuku commented on #83
@afram not really, sorry :( It's a bigger company project and I unfortunately don't have the time to try to reduce the project to a minimal test case. I was seeing this a lot in the last version of our platform but I haven't seen this in the current development branch at all. It might well be that the error has been triggered by a bug in some dependency.

From my point of view you can close this.

[2017-06-20 19:41] sandrina-p opened #85 "Browser crashs when re-rendering Masonry childrens"
When updating the Masonry items, the browser crash.

[You can view it live here](http://cenas123454321.000webhostapp.com/#/movie-outifts)

**Reproduce:** Switch between tabs (woman and man), or select/unselect one of the carousel items (the movies). The Masonry for some reason breaks and the browser crashs.

This is the code:

[code]

This `this.props.content` changes its time I filter it by selec

[2017-06-20 21:28] afram commented on #85
It's kind of hard to see without access to the codebase, but I suspect it's a few things.

1) There are many elements on the page, especially images. There's no need to load all 180+ images in the carousel on page load. You could consider lazy loading images as they are needed. You have over 800 elements on the page.

2) The issue seems to happen when I click 'tab 2 -> tab 1 -> tab2'. On that thir

[2017-06-20 21:40] sandrina-p commented on #85
Thanks for the help. I removed the carousel and the issue still happens... if I remove Masonry, it doesn't crush. When clicking on a tab, it only changes the content to map. I think the issue is when the masonry elements' key match the element content twice. (wich is what happens when you select back the tab 1)... 🤔

via Newton Mail [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=9.7.38&pv=10.3.2&sou

[2017-06-21 19:14] sandrina-p commented on #85
Hey there, I found a solution! 🎉

For some reason, React *gets confused* when Masonry changes its content and end up at some point with a "repeated" component (this case, switching back to tab).

So I tried several things, such as creating a new array to loop the childrens or changing its key every render. Nothing works, then I just added a key to `<Masonry>` itself and voilà!

[code]

Thanks for

[2017-06-21 21:29] afram commented on #85
Glad you found a solution.

That sounds a little odd, it makes me suspicious that maybe Masonry React Component is doing something it shouldn't (or not doing something it should).

You're the first person to raise this issue, so thanks for giving me something to look into ;-)

[2017-06-21 23:25] afram commented on #85
Hi @sandrina-p

I built a simpler version of what you have and it works fine in the example:
https://www.webpackbin.com/bins/-KnBuUxuxu9B16Cr1ED5

I wonder if maybe there's something else going that's causing the issue? Forcing re-render with a different key is possibly just masking the underlying issue?

[2017-06-22 15:07] janpe opened #86 "Problem when the items change twice or more very quickly."
If I the items change for example two times very quickly, the items sometimes fail to reorder when animations are used.

For example if I have a button that changes the props that make a rerender happen and the items transition to their new positions and I double click this button, problems occur pretty often.

If the latter click happens during the first animation then the items may get mispositi

[2017-06-22 19:47] afram commented on #86
Hi,

Does this button toggle some state, or is it for a single state? I ask because if it's the latter then React's diffing algorithm shouldn't force a re-render on the second click because the state wouldn't have changed.

[2017-06-22 19:56] janpe commented on #86
Maybe it's easier understand if I explain the case in more detail. I have a view that has messages for one week in masonry items and I can use a control to jump between weeks and get messages for that week. So the state changes and I get a bunch of all new items. And when I do change the week when an animating of the masonry items is still ongoing then I sometimes get this problem.

[2017-06-22 20:12] afram commented on #86
aha, so it's closer to the first scenario then. :-)

Does this issue still occur when you set the transitionDuration to 0?

[2017-06-22 20:16] janpe commented on #86
No, all good with transitionDuration 0. That's also what I decided to do for now to avoid the problem.

[2017-06-22 20:18] afram commented on #86
OK that's something at least.

It may be an issue with Masonry itself instead of this component. Have you been able to reproduce this issue with vanilla Masonry at all?

[2017-06-22 21:15] janpe commented on #86
Yeah that's something I was thinking of as well. But I didn't have the time to try and reproduce this with vanilla Masonry so I decided to create an issue in this repository.

I can try this out with vanilla Masonry (and add issue to the Masonry repository if it occurs there as well) later but I'm just about to leave for a vacation for a week so I won't be able to test this before I get back in li

[2017-07-02 14:01] sandrina-p commented on #85
Hey @afram

Sorry the late answer. I have a very similar code to yours, and it crushs. I don't use `forceUpdate()` on my project. I have more stuff on each item, such as `react-truncate`... It's strange. When I pick up the project again, I'll check it again with more detail.

Thanks anyway :)

[2017-07-06 13:01] jerryslaw commented on #85
Hi. I have similar issue. onLayoutComplete is calling several times, I don't know why. When I use @sandrina-p solution, it fires only once, but - I want to change my redux state when layout is completed, so I'm calling some function from props, and then.... My call stack is exceeded, onLayoutComplete is in infinite call loop.

My code is:
[code]

[2017-07-22 19:01] petertenhoor commented on #77
@hurrtz My situation is exactly like your example. I have three items; one has 50% width and two have 25% width. And yet they are not aligning next to each other. The third item goes to a new row.

To which value did you set the columnWidth to fix this?

[2017-07-28 16:18] EmilioHerrera opened #87 "Ref problem."
I get the error:

addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).

any help would be appreciated.

[2017-08-01 11:50] Ganasist opened #88 "Additional items added don't always trigger align"
Hi I'm not sure if this is similar to previous issues but when I append additional items to the original Masonry list, they don't always get aligned nicely, but rather they stack underneath.

In my case, scrolling down (to trigger loading additional items) seems to force correct alignment.

Attached is an image showing what I mean, also a screencap of the DOM showing that there are items that don'

[2017-08-02 08:24] neovea opened #89 "Handling animations"
Hi, nice job on this component :)
BTW I checked out the demo page. How do you manage animations on items ? Is there an example available ?
Thanks

[2017-08-03 19:19] afram commented on #88
Hi @Ganasist

Could you please post a stripped down example of the problem on webpackbin?

That would make it easier to help you :-)

[2017-08-03 19:21] afram commented on #87
Hi @EmilioHerrera

Is this still an issue? Do you have a code example?

[2017-08-05 06:54] abansal3 commented on #3
@eiriklv in order to filter the masonry items would each item be passed a custom prop that the filter is based on?

[2017-08-09 13:56] evandavis opened #90 "How to build?"
I'm trying to do a standalone AMD build of this repo. I notice you include `webpack` in `devDependencies` but not the `webpack.config.js`. Do you have a build configuration you could include?

[2017-08-12 20:38] TeodorKolev opened #91 "Error when add plugin"
[code]

[2017-08-12 21:08] afram commented on #91
This looks like a webpack config issue.

With webpack 2 you have to add 'loader' to the loader definition you use. So for example instead of `imports` you have to use `imports-loader?...`

As a side note though, you don't need this config anymore as a downstream dependency has fixed the issue.

The readme says it's deprecated. Are you finding that you need to use the imports loader?

[2017-08-12 21:11] afram commented on #90
I'm terribly sorry, I don't use AMD anymore and don't have a plan to support it.

As for the webpack config, this project has the config tied in with the Karma config as it's only used for testing.

https://github.com/eiriklv/react-masonry-component/blob/master/spec/setup/karma.conf.js

Hope this helps.

[2017-08-14 14:17] evandavis commented on #90
I didn't even think to look there. That got me what I needed, thanks!

[2017-08-14 14:17] #90 closed

[2017-08-14 16:52] jcguarinpenaranda opened #92 "Example is not working"
Hello,

Just wanted to tell you that the example is not working due to failing CORS

![captura de pantalla 2017-08-14 a las 11 50 53 a m](https://user-images.githubusercontent.com/7200821/29282044-f2fd7bfc-80e6-11e7-901e-5579ed9e16ad.png)

[2017-08-21 18:58] jrock17 commented on #69
Can you add a working example of stamp to the docs? The Webpack above does not work. Thanks.

[2017-08-25 13:50] danilowoz commented on #89
Hi @afram, can I control the animation or disabled it?

[2017-08-26 14:58] afram commented on #92
Hi @jcguarinpenaranda

Looks like this issue is fixed now. Does it work for you now?

I'm closing this issue for now, please feel free to reopen if needed :-)

[2017-08-26 14:58] #92 closed

[2017-08-26 14:59] afram commented on #91
@TeodorKolev

I'm going to close this issue. Please feel free to reopen if needed :-)

[2017-08-26 14:59] #91 closed

[2017-08-26 14:59] afram commented on #87
Hi @EmilioHerrera

I'm going to close this issue. Please feel free to reopen if needed :-)

[2017-08-26 14:59] #87 closed

[2017-08-26 15:01] afram commented on #86
Hi @janpe

I'm going to close this issue. Please feel free to reopen if needed :-)

[2017-08-26 15:01] #86 closed

[2017-08-26 15:01] afram commented on #78
Hi @Hydeo

I'm going to close this issue. Please feel free to reopen if needed :-)

[2017-08-26 15:01] #78 closed

[2017-08-26 15:02] #83 closed

[2017-08-26 15:03] afram commented on #81
Hi @witalobenicio,

I'm going to close this issue. Please feel free to reopen if needed :-)

[2017-08-26 15:03] #81 closed

[2017-08-26 15:03] afram commented on #81
Hi @witalobenicio,

I'm going to close this issue. Please feel free to reopen if needed :-)

[2017-08-29 19:17] mikelambert opened #93 "Use lodash/* ?"
While it may make sense to use `lodash.*` in isolation to minimize the code dependency sizes, in a large project where many other components may depend on `lodash`, it likely makes more sense to use `lodash/*` imports instead of `lodash.*` imports, to allow the various components to reuse their lodash dependencies.

Are you open to switching this project's dependencies?

[2017-08-29 19:22] mikelambert commented on #93
In particular, `lodash.omit` adds 36KB (or 12KB compressed) to my build, in a way that is not able to be de-duded against the main `lodash` in my build (that comes from my code as well as components I depend on)

[2017-08-30 14:49] chenfengyanyu commented on #87
I have the same problem，this is my code:
[code]

[2017-08-30 19:29] afram commented on #87
Hi @chenfengyanyu,

What version of React are you using?

[2017-08-30 19:33] afram commented on #93
@mikelambert I'm open to it, but I think it's one of those situations where developers are going to be penalised if they use the alternative import.

Should people be using Webpack 2 (or other build tools that take advantage of tree shaking) then I think what you are saying makes sense.

Perhaps the thing to do is use the lodash/* style of imports...

[2017-08-30 20:02] mikelambert commented on #93
I'm not talking about tree-shaking here (removing unnecessary code), etc. I agree that's a more advanced build-dependent feature, and may not apply to everyone. If you did `import { omit } from 'lodash'`, then I agree it would require tree-shaking...but I am proposing `import omit from lodash/omit`, which should not require any tree shaking at all, and only pull in the necessary bits.

Given your

[2017-08-30 20:41] rntgspr commented on #77
I have a similar problem here, I am still closing the points.

But on this [line](https://github.com/eiriklv/react-masonry-component/blob/95d5e4e46147c5c0ba69bfa12c8df50eebb129af/lib/index.js#L2) it's clear that uses [masonry-layout](https://www.npmjs.com/package/masonry-layout) and we can deal more with `columnWidth` [here](https://masonry.desandro.com/options.html) .

[2017-08-31 00:16] chenfengyanyu commented on #87
@afram this is what I used in my project：
[code]

[2017-09-04 11:46] an5rag commented on #65
I have been facing the same issue. All I wanted to do was show a loading gif till my grid loaded, but onImagesLoaded / onLayoutComplete was being called repeatedly. Here's my code:
[code]

[2017-09-13 18:24] mbeauchamp7 opened #95 "Useless complete items reload"
I was digging in the source code to find out why my whole list was reloading when only a property of an item was changing and I found that no matter if there were appended/prepended/moved etc, it was still reloading it all.

If you look [here](https://github.com/eiriklv/react-masonry-component/blob/master/lib/index.js#L88) you can see that we are comparing the length of the previous know childrens

[2017-09-17 05:10] an5rag commented on #65
@afram Is there any update for this?

[2017-09-18 08:58] freder opened #97 "hide items until layout is ready?"
hi,

I want to make sure the layout is ready, before I display all items. I tried the following, but that does not seem to do the trick:

[code]

[2017-10-04 11:55] hurrtz opened #98 "Element ref was specified as a string (masonryContainer)"
Hey guys,

I think there might be an issue with environments running React 16 and using masonrycomponent, which by itself runs React 15.

I get the error "Uncaught (in promise) Error: Element ref was specified as a string (masonryContainer) but no owner was set. You may have multiple copies of React loaded. (details: https://fb.me/react-refs-must-have-owner)." which is pretty brutal as this kills

[2017-10-04 11:57] afram commented on #98
Yes you are right. This needs to be updated.

On 4 Oct 2017 12:55 pm, "Tobias Winkler" <notifications@github.com> wrote:

[2017-10-07 11:47] afram commented on #95
Should be fixed in v6.0.0

Please let me know if it works for you.

sorry again for the delay in merging in your PR.

[2017-10-07 11:47] #95 closed

[2017-10-07 11:48] afram commented on #93
I've made this change and it is now live in v6.0.0

I'd be keen to hear get your feedback/update on how it goes.

Going to close the ticket now, but please reopen if needed.

[2017-10-07 11:48] #93 closed

[2017-10-07 11:49] afram commented on #98
This should now be fixed in v6.0.0

Please let me know if it works for you.

Closing this ticket, though please open again if needed!

[2017-10-07 11:49] #98 closed

[2017-10-07 15:01] mbeauchamp7 commented on #95
Better late than never! Thanks @afram

[2017-10-12 04:05] WenXuanYuan commented on #87
The same with me, my packages version list as below
[code]
Could someone can help me? Thanks a lot.

[2017-10-18 11:38] moimael opened #100 "0px sized items when wrapped"
Wrapping react-masonry-component in a div causes the masonry grid to render with items having 0px height and width.

As soon as i remove the wrapping div everything works as intended.

Any workaround ?

Thanks !

[2017-10-18 11:45] wchaering opened #101 "String refs in React 16"
Error in production builds with React 16 due to legacy string ref:

```Element ref was specified as a string (masonryContainer) but no owner was set. You may have multiple copies of React loaded.```

Fixed in #99

[2017-10-20 13:39] DeathDealerr opened #102 "Need help with Append"
Hi,

I request you help in appending new set of items by accessing the Masonry Instance.

My Main Component
[code]

under component did mount i did the following
[code]

I am not sure if i am doing it right, Please help me with an example

[2017-10-22 09:30] afram commented on #101
Thanks for this - released in 6.0.1

[2017-10-22 09:30] #101 closed

[2017-10-22 10:51] afram commented on #102
@DeathDealerr

You don't use the underlying Masonry object to add items. You need to add items to the object return by calling `this.renderItems()` if that makes sense.

[2017-10-22 11:57] afram commented on #100
Hi @moimael Could you provide an example?

In this sample code react-masonry-component is wrapped by an outer DIV and it works fine - I'm need a bit more info about your specific use case :-)

https://www.webpackbin.com/bins/-KnBuUxuxu9B16Cr1ED5

[2017-10-24 21:02] DeathDealerr commented on #102
@afram ,

Thank you for the help.

[2017-10-24 21:02] #102 closed

[2017-10-26 01:22] reactwebster opened #103 "how to remove an item ?"
I don't know how to remove an item ,will you please help me ?

[2017-10-28 10:05] afram commented on #103
Hi @reactwebster

You remove items by updating the array of elements you pass to react-masonry-component.

Use setState or redux dispatch if you are using redux.

[2017-11-01 02:50] sanmaopep commented on #97
Try onLayoutComplete={this.handleLayoutReady.bind(this)} .

[2017-11-03 17:07] kaloudiyi opened #104 "Can't click inside an item"
I would like manage the click inside an item and update some of their properties. The events doesn't respond when there are located inside items. It's difficult to do that with the only one onClick event of the Masonry component.

How can I do this ?

[2017-11-03 23:29] afram commented on #104
Hi @kaloudiyi

You should be able to attach event listeners to each item. Do you have a code sample we can refer to?

[2017-11-04 14:19] kaloudiyi commented on #104
I wrote a simple example and "good surprise for me" it worked.  So the problem is in my code. Thanks :-)

[2017-11-04 14:19] #104 closed

[2017-11-10 00:57] ACPrice opened #105 "Unique keys are removed"
I'm getting the react warning:

`Warning: Each child in an array or iterator should have a unique "key" prop. See https://fb.me/react-warning-keys for more information.`

When I inspect the children rendered within the masonry component, I don't see a `key` prop.

Here's how I'm implementing:

[code]

Is this a known issue with keys getting removed? Am I doing something wrong?

[2017-11-10 01:32] ACPrice commented on #105
Gonna go ahead and close this. It was an issue on my end. Thanks for providing this tool!

[2017-11-10 01:32] #105 closed

[2017-11-17 13:31] xih opened #107 "Centering Masonry"
Hi,

I love the results from using this package ! Thanks for making it.

But I'm having trouble centering Masonry. I tried using flexbox and bootstrap to make the component horizontally centered but to no avail. This is how it looks on my macbook:

![image](https://user-images.githubusercontent.com/8076886/32949654-81843436-cb58-11e7-8fda-1f7ad63a33a4.png)

As you can see there is too much space o

[2017-11-18 21:32] burt23 commented on #107
I'm having the same exact issue, any help is greatly appreciated

[2017-12-01 16:10] gergelyvizvari commented on #46
use columnWidth: 1 and it's working fine (if you doesn't wan to specify it)

[2017-12-03 15:14] ComputerCarl opened #108 "Remove gutter on the bottom of every tile"
I cannot get rid of the spacing on the bottom of every tile.. I have tried setting margins and padding to 0, but will not go away.

[code]

[2017-12-04 23:27] ComputerCarl commented on #108
Solved with `vertical-align: top` for `img`.
https://stackoverflow.com/questions/43533790/css-masonry-problems

[2017-12-04 23:27] #108 closed

[2017-12-05 04:14] CharmedSatyr opened #109 "animations stutter"
When Masonry `transitionDuration` option is > `0`, children adjust to their new layouts twice -- once at the desired speed, and again very quickly after they've reached their new location, creating a stuttering effect.

This appears to be the result of `componentDidMount` being called once when the animation begins, and then immediately again or multiple times once children have reached their opti

[2017-12-05 22:23] ricardoglez opened #110 "issues animating after element was removed"
I have an issue trying animate the items after removing an element. I update my array of elements after applying a slice to remove an element.

My code looks something similar to this :

<code>
[code]
</code>

Is something that i'm missing?

I want that when i remove the element with index 2 in a **temporalArray** (let's say that it has the length of 4), i want that the element with index 3, moves

[2017-12-13 07:35] Ganasist commented on #75
I think I want what he's also asking about:

Is it possible to suppress the animation on initial load, and only have it animate thereafter? For initial load I just want my items to appear immediately in-place.

[2017-12-15 20:48] harmeetjaipur opened #113 "Destroy/rebuild"
Hi, I was wondering if there is a way to destroy the components and rerender Masonry cards in any way?
P.S.: Great work with the package.

[2017-12-16 13:22] afram commented on #75
Well this is just a wrapper over the Masonry library. Try setting transitionDuration to zero.

https://masonry.desandro.com/options.html

Play around with the options. Hard to help further without seeing your code.

Hope this helps!

[2017-12-19 05:45] jabacchetta commented on #73
I'm running into this issue as well when combining with [react-lazyload](https://github.com/jasonslyvia/react-lazyload).

[2017-12-28 16:51] amason0528 opened #115 "Children Resize"
I'm using this React-mansory-component library and it's very useful except one thing.

The height of my elements in the layout can be increased or decreased (It has edit button and if it is clicked, the edit form appears at the bottom of element)

In this case, Mansory changes the position of elements. I want to stop this.

Please let me know the solution for this.

[2018-01-07 07:09] CharmedSatyr commented on #109
I have determined that my bug was not directly due to this package. Rather, default `semantic-ui-css` styling for `Card` elements was providing a conflict.

My problem goes away when I remove the subtle `transition` properties from `.ui.cards > .card, .ui.card` styling from `semantic.min.css`.

[2018-01-07 07:09] #109 closed

[2018-01-15 19:21] gavenheim opened #116 "Force Update"
On a project I'm working on I need the ability to force update the layout on a click event. Is there a method on `this.masonry` that allows this? I have cards that expand and collapse on click.

[2018-01-17 08:38] athrunsun opened #117 "Could you provide the source code of hearsay-frontend.herokuapp.com?"
The [live demo](http://hearsay-frontend.herokuapp.com) in the README.md is really great, but I cannot find the source code of it, could you kindly provide it here? Thanks in advance!

[2018-02-09 22:00] matthewlilley commented on #25
Thanks @dcworldwide, exactly what I was looking for.

[2018-02-21 19:10] 0oMarko0 opened #118 "How to speed up animation time"
i've tried to set the option but it does nothing

[code]

[2018-02-27 10:18] JonesDM commented on #116
Did you fix this?

[2018-02-27 17:57] gavenheim commented on #116
@JonesDM No, I did not. I ended up using CSS columns instead. Have you found a solution?

[2018-02-27 19:54] afram commented on #116
this.masonry is a reference to a Masonry instance.

does `this.masonry.layout()` or `this.masonry.reloadItems()` work for you?
https://masonry.desandro.com/methods.html#layout-masonry
https://masonry.desandro.com/methods.html#reloaditems

[2018-02-27 19:58] gavenheim commented on #116
@afram No, neither of these methods worked for me. For my use case I had a `card` that grew when you clicked read more. After it was done growing I needed to reload the masonry instance due to the fact that card had nestled itself behind the rest of the masonry items.

[2018-03-06 17:22] GordanRatkovic opened #119 "Horizontal ordering issue"
Hi,

I'm having some issues with ordering. Some of my elements are twice the height than the rest, other than that I have a pretty standard, fixed-column-width setup:

[code]

Note  in the screenshot how the order breaks after the 6th tile...
Has anybody experienced anything similar? Any idea on how to approach this

![screen shot 2018-03-06 at 18 17 13](https://user-images.githubusercontent.com/4

[2018-03-22 22:45] bartdominiak commented on #83
Can you reopen this issue? I handle with this error also.

[2018-03-23 19:57] afram commented on #83
@bartdominiak can you please provide a code example where this is happening?

I can not reproduce and without broken code there isn't much I can do really :-)

[2018-03-25 21:14] alberto2000 commented on #65
I believe there are situations when a components render method gets fired multiple times due to state or props change and that is when masonry/imagesloaded gets fired repeatedly somehow. Not sure if it is a "bug" really or if it's up to the developer to filter out unneeded re-renderings.

[2018-03-25 21:40] alberto2000 opened #121 "ImagesLoaded not working on background-images"
Is there a way to tell ImagesLoaded to also trigger on background-images?

[2018-03-30 17:51] tallpants commented on #116
@afram the `this.masonry` instance doesn't have those methods at all. I'm facing the same issue as well.

[2018-03-30 18:28] afram commented on #116
@tallpants that's really strange. `this.masonry` should be a reference to a Masonry instance. Are you able to reproduce with an example on webpackbin please?

[2018-03-30 18:34] tallpants commented on #116
@afram my bad, I was trying to call it before the ref was assigned. `this.masonry.layout()` works, although it would probably be a good idea to put that in the docs. I don't mind making a PR with an updated README if that's okay with you.

[2018-03-30 19:47] afram commented on #65
I wouldn't want the component to presume how you want to use it. I'd say the recommended approach is to throttle/debounce yourself as you know your use case best.

[2018-03-30 19:48] afram commented on #116
sure that would be great @tallpants :-)

[2018-03-30 21:02] afram commented on #121
@alberto2000 currently the background images feature of the `imagesloaded` library is not used.

We'd have to change this library to support it.

[2018-03-30 21:04] alberto2000 commented on #121
afaik it's just an option, can it just be enabled by default?

[2018-03-30 21:10] afram commented on #121
That's changing the current behaviour, so I'm a bit hesitant as it's not backwards compatible and technically should be a breaking change version bump (major version).

imagesloaded doesn't have this feature on by default either. I think a better design would be to allow end users to provide config for imagesloaded (in a backwards compatible way fo course).

[2018-03-30 21:13] alberto2000 commented on #121
Totally agree. Why not let users provide the config for imagesloaded to the react-masonry component?

[2018-03-30 21:15] afram commented on #121
Yeah that's what I'm thinking too

[2018-03-31 00:58] afram commented on #121
@alberto2000 can you please try with this pre-release version?

`npm install -S react-masonry-component@pre-6.1.0`

The ReadMe for this version is available here:
https://github.com/eiriklv/react-masonry-component/tree/imagesloaded-config#images-loaded-options

[2018-03-31 10:05] alberto2000 commented on #121
@afram did you just release 6.1.0 upstream? Did a npm update in my project and it fetched react-masonry-component@6.1.0. Thanks a lot, will try it later today

[2018-04-01 10:26] afram commented on #121
I have only released as a pre-release.

If you npm install you should get the version tagged as latest (6.0.2).
npm update will then give you 6.1.0. Perhaps I should have tagged it as `next` instead.

Please let me know how you get on and then I can release it to latest.

[2018-04-01 11:17] afram commented on #118
it should do the trick. `0` implies no animation. Do you have other CSS that's affecting animation?

[2018-04-05 11:20] maxkoshel opened #123 "Incompatible properties in the interface of MasonryOptions (columnWidth, transitionDuration)"
#According to the [documentation of Masonry](https://masonry.desandro.com/options.html) there are some issues:
* Property `columnWidth` can accept also `Element`.
* Property `transitionDuration` can also accept `number` (zero for disabling).

[2018-04-09 20:53] alberto2000 commented on #121
Hey, sorry for the late reply. It works great!

[2018-04-10 09:51] elitenoire commented on #117
https://github.com/eiriklv/hearsay-frontend

[2018-04-11 08:31] moimael opened #125 "Publish 6.1.0 to npm"
Hi,

Could you publish the 6.1.0 release to npm ?

Thanks

[2018-04-11 16:57] hugocattelain commented on #117
https://github.com/eiriklv/hearsay-frontend

[2018-04-13 19:55] afram commented on #125
6.1.1 has been published.

[2018-04-13 19:55] #125 closed

[2018-04-13 19:55] afram commented on #121
great thanks. 6.1.1 published.

[2018-04-13 19:55] #121 closed

[2018-04-13 20:01] afram commented on #123
Thanks for submitting this. It has bee merged and 6.2.0 published.

[2018-04-13 20:01] #123 closed

[2018-04-13 20:03] afram commented on #117
That usage is very out of date. The component has changed a lot since then.

[2018-04-16 19:42] afram commented on #110
Hi @ricardoglez so firstly sorry for the very late reply - I didn't see this issue!

React has issues with keys that are array indexes. Have you tried using something else (like say UUIDs) as keys instead?

https://medium.com/@robinpokorny/index-as-a-key-is-an-anti-pattern-e0349aece318

[2018-04-16 19:45] afram commented on #110
BTW, I'm not quite sure I understand the problem? element 3 should move into the space of element 2 - is element 2 not being deleted?

Also what transitionTime settings did you use?

[2018-04-16 19:46] afram commented on #115
Have you tried the stamp method from Masonry?

[2018-04-16 19:47] afram commented on #113
What's your use case @harmeetjaipur?

[2018-04-16 19:47] #75 closed

[2018-04-16 19:49] afram commented on #65
@alberto2000 @an5rag @jgraniero

 Can you please try the latest version and let me know if it solves the problem for you?

[2018-04-16 19:51] afram commented on #85
@jerryslaw I know this is a very old ticket. Are you in a position to try the latest version and see how it works for you. Does it solve your problem?

[2018-04-16 21:35] ricardoglez commented on #110
Thanks @afram, i found that my issue was the one that you indicate in the previous comment, i wasn't using a proper pattern for the keys attribute.  Thanks :+1:

[2018-04-20 10:26] JustinMoser opened #126 "All items aligned to the left in one column"
Hi,
I am using the masonry component, whereby i request a load (100) of random images from a service every 10 seconds or so, and then re-render my component with the new images, however fairly often when the component is re-painted, all the items are in a single column on the left, and this completely breaks the gallery.

<img width="622" alt="screen shot 2018-04-20 at 11 20 24" src="https://user-

[2018-05-22 23:02] jgraniero commented on #65
@afram I actually just had to revisit my code that used the masonry component.  I updated to the latest version and removed a lot of the logic I had around controlling calls to `masonry.layout()`.  the new code I have is much simpler and doesn't exhibit any of the issues I mentioned previously, so as far as I can tell (without really digging into the issues I previously experienced) it seems bette

[2018-05-29 05:02] A-Tokyo opened #129 "🚑 Critical bug in componentWillUnmount that breaks the app"
## Description
When `disableImagesLoaded` is true, `componentWillUnmount` throws `this.imagesLoadedCancelRef is not a function`

### How to reproduce
- Pass `disableImagesLoaded` prop, render then unmount the component.

### Fix
- Only call `derefImagesLoaded` in `componentWillUnmount` if `imagesLoadedCancelRef` was truthy.

<img width="556" alt="screen shot 2018-05-29 at 6 58 51 am" src="https://

[2018-05-31 21:49] roruva commented on #129
Hi, I have the same issue, what did you do to solve it? thanks in advance.

[2018-06-01 00:00] A-Tokyo commented on #129
@roruva I had to not use `disableImagesLoaded ` for now :/

I opened a PR that fixes it, hopefully it gets merged soon 👍

[2018-06-03 10:30] #129 closed

[2018-06-03 10:35] afram commented on #129
6.2.1 should be published. Apologies for the delay and thanks for the contribution

[2018-06-10 13:58] afram commented on #126
Hi @JustinMoser Apologies for the delay in getting back to you - I didn't see this issue!

is this still an issue for you? Have you tried the latest version? Do you have a running example to reproduce this? http://codesandbox.io/ maybe?

[2018-06-16 13:19] ezekielaquino commented on #126
@afram this is happening, a known bug perhaps? Calculations seem a bit off on the x axis, if I scale child items such as the parent width is 300 pixels less wide, then it works

[2018-06-16 13:43] ezekielaquino commented on #126
Solution is to make sure to define a columnWidth in the options!

[2018-07-04 17:17] nickytonline opened #131 "Demo app does not work in uplevel browsers"
Hi @eiriklv. Thanks for the project. Just a heads up that the demo app on Heroku does not work because your API calls are not HTTPS, so the browsers complain about mixed content. Just thought you might want to know. Cheers.

<img width="1920" alt="screen shot 2018-07-04 at 1 14 00 pm" src="https://user-images.githubusercontent.com/833231/42289240-69545de4-7f8c-11e8-9814-d22fbf12435b.png">

[2018-07-07 14:26] kienhg96 opened #132 "Incorrect Children Position"
React Masonry sometimes renders incorrect children position (overlap).

Image: https://ibb.co/mduYe8

After I wrap `this.masonry.layout()` by `setTimeout` inside `performLayout` method, it renders correctly.
[code]

[2018-07-09 08:50] mayankagarwal2402 commented on #107
This solution here (https://github.com/eiriklv/react-masonry-component/issues/31#issuecomment-236036096) works fine.

[2018-07-10 07:56] jonkwheeler commented on #65
I've got this issue as well. `handleImagesLoaded` fires twice if you setState within `handleImagesLoaded`. For instance
[code]

[2018-07-11 09:33] dusanstojanovic opened #133 "Reordering when resizing masonry child"
I have a problem with this situation:

![waaaait](https://user-images.githubusercontent.com/497757/42563207-f34725ce-84fd-11e8-87e2-b5a441fe1f85.gif)

Any ideas how to accomplish this? I need to reorder all the elements every time textarea grows (I'm using material-ui.com)

[2018-07-11 23:01] afram commented on #133
Hi @dusanstojanovic

You will probably want to access the masonry object and call layout yourself in this instance.
https://masonry.desandro.com/methods.html#layout-masonry

Here's an example
https://codesandbox.io/s/v3y4o3nx70

[2018-07-25 00:54] jhk115 commented on #73
I had the same issue but setting updateOnEachImageLoad to true fixed the problem.

[2018-08-01 21:02] jhk115 opened #134 "Items align to the right when there are odd number of same sized items"
In this example, I have three items with exactly the same size.

![screen shot 2018-08-01 at 1 56 21 pm](https://user-images.githubusercontent.com/1069438/43548688-6a0db8c6-9593-11e8-88c3-4cb53adad19e.png)

The last item is aligned to the right. Is there any way to make it float to the left?

[2018-08-15 00:47] unruffledBeaver opened #135 "IE11 Support?"
First of all thanks for the component, working great for my needs. However it doesnt seem to be working at all in IE11. All the child nodes are just stacked and `onLayoutComplete` is never being called. Doesnt appear to have any errors in the console either.

Using version `6.2.1`

[2018-08-15 23:54] unruffledBeaver commented on #135
This may actually be caused by something else. Closing issue

[2018-08-15 23:54] #135 closed

[2018-08-22 01:54] maurusrv commented on #5
hi, also encountered this issue and i used @erkartik91's solution and it worked.

anyway,
i am using this library: https://github.com/puikinsh/Adminator-admin-dashboard which uses react-masonry-component too as i've looked into my node_modules folder. according to the changelog, it's version is 6.2.0.

last comment here says it's fixed even in the earlier version (4.3.0), but i wonder is it really

[2018-08-22 05:22] mrjosshi opened #136 "How can stop Shuffling data or childern div in this masonry?"
I want to use this in my product but I want simple masonry layout without shuffling. could you please help if there is any event to prevent this ?

TIA

[2018-09-11 09:16] clem91 opened #137 "Pass an external masonry reference in option"
As Masonry,Isotope and packery are almost based on the same functions(layout reloadItems,...), it may be interesting to pass a masonry,isotope or packery reference in the options and have an almost universal component =). It's just a tought I had working in making my react isotope component inspiring me of this one.

[2018-09-12 01:08] jonathanpuc opened #138 "Unequal columns with bootstrap."
When trying to use unequal columns of a width with bootstrap and a column is of 7 columns or higher, all the elements in the masonry layout just sit on their own row and no longer next to each other.

E.g trying to achieve a layout with some divs being 8 columns wide and others 4 columns wide (12 column grid) but they don't sit on one line together.

The closest thing that works is something like

[2018-09-14 22:31] afram commented on #137
That's a pretty good idea.

[2018-09-14 22:32] afram commented on #138
do you have an example I can take a look at please?

[2018-09-17 02:05] jonathanpuc commented on #138
Attached an image of what it looks like, notice how they don't sit next to each other? This is with col-sm-8 and col-sm-4 bootstrap classes. If I try with col-sm-7 and col-sm-4 they still don't sit next to each other.

This only happens when the elements are wrapped by the Masonry HOC. If I remove it, the grid system is all okay and col-sm-8 next to col-sm-4 works fine.

<img width="1197" alt="scr

[2018-10-10 13:24] JuRomand opened #139 "onLayoutComplete triggered before any layout has taken place"
Hello,

I have a problem with onLayoutComplete :
I'd like to wait for the layout and animations to be complete before showing the items but the event "onLayoutComplete" is triggered before any layout has taken place (I tried with debugger), and is then triggered a lot of times (more times than the number of items I need to display).

Did I miss something ?

I'm also not sure whether the event is s

[2018-10-12 00:51] jonathanpuc commented on #138
@afram any updates?

[2018-10-12 05:58] jonathanpuc commented on #116
If I dynamically change the size of an item will calling this.masonry.layout() cause the items to reorder accordingly to fit? Because when calling it, the items still stay the same and arent being reordered.

[2018-11-07 18:48] laurenbarker commented on #73
Had the same issue when combining with [react-lazyload](https://github.com/jasonslyvia/react-lazyload) -- got it to work properly by using a custom [placeholder](https://github.com/jasonslyvia/react-lazyload#placeholder) that has the same styling as the masonry child elements minus the image. Didn't need to set `updateOnEachImageLoad` to `true`.

[2018-11-08 23:02] mayteio commented on #138
@afram I have the same issue.

[2018-11-13 11:49] Mike-Timms commented on #116
Realise this is a long time after you were working on this, but found this functionality is already built in.

Looking through the Index.js file of the module there is a prop you can add to the masonry component "enableResizableChildren".

Your Masonry component would looks something like:

`<Masonry
                    enableResizableChildren={true}
otherProps=""

// Your masonry content

[2018-11-13 11:51] Mike-Timms commented on #115
Add the prop enableResizableChildren={true}.

<Masonry enableResizableChildren={true}></Masonry>

[2019-01-09 17:53] code-matt commented on #136
```transitionDuration: 0```
in the options prop {}

[2019-01-13 03:59] dylannirvana opened #140 "Calling the function requires a slightly different implementation."
The pattern I am using is different. I am holding the array object in state. Close, but I am not sure how exactly to do this.

[code]
And I am using it by calling the function (not a parameter).

[code]

[2019-01-14 22:16] prjctnxt opened #141 "Example needs fixing."
Looks like the page is running on https while the API is running on HTTP. Should be a quick fix.

[2019-01-17 12:02] daveycakes commented on #139
I have the same issue - the event fires about 6 times.
4 times before children have been passed in, 2 after.

[2019-01-17 12:43] Janoyan commented on #126
[code]

works for me

[2019-01-17 20:07] mherodev opened #142 "Is there a way to add a class to the items at the bottom of the grid?"
I'd like to style the bottom items differently from the rest, e.g. remove dividing lines, etc.

Is there any support for that?

[2019-01-17 22:03] afram commented on #142
You can use css to do that. There are a few options potentially, depending
on what you want to achieve.

On Thu, 17 Jan 2019, 20:07 Michael Herold <notifications@github.com wrote:

[2019-01-25 16:45] johnantoni commented on #79
Hi @afram, checked the latest release and doesn't appear to be there. Any chance of adding this in?

[2019-02-18 18:51] erosenberg commented on #107
@mayankagarwal2402 - this no longer works. Is there an update for this?

[2019-02-18 20:59] erosenberg commented on #31
@kenhoff - this doesn't work anymore. I've tried `isFitWidth` and `fitWidth` and neither works. Is this still being supported?

[2019-02-18 21:43] afram commented on #142
I'm going to close this. Please reopen if needed.

[2019-02-18 21:43] #142 closed

[2019-02-18 21:46] afram commented on #31
It shouldn't have changed. That just gets passed to Masonry under the hood.

[2019-02-18 22:02] erosenberg commented on #31
@afram - I mean, I agree. Maybe it just doesn't do what I think it's supposed to.
I was under the impression that you give a `columnWidth` and if you set `isFitWidth` to `true`, then the content should always be centered and spaced evenly. Is that not the case?

Also, `isFitWidth` seems to be deprecated in the documentation. Does it somehow pass `fitWidth` instead of `isFitWidth` to the instance o

[2019-02-19 21:12] afram commented on #31
Did you see this disclaimer on the Masonry docs?

Masonry hasn't been updated from v4.2.2 in 8 months. both should still work.

Maybe it's worth putting together an example in https://codesandbox.io/?

[2019-02-19 21:14] #107 closed

[2019-02-19 21:16] afram commented on #31
To be honest, I haven't looked at this in a long time. From what I can see in the code it should still be working. I'm going to put together an example myself for my own sanity...

[2019-02-19 22:06] afram commented on #31
Yeah, works fine

https://codesandbox.io/s/ly8mqzm54z

You need to remember that `fitWidth` doesn't actually centre the Masonry wrapper for you, it simply ensures that it will work when you apply `margin: 0 auto;` to the grid css.

[2019-02-21 06:41] ergunpp opened #143 "Masonry slide effect does not work"
Hi, I have a website at http://chefs-test.s3-website.eu-central-1.amazonaws.com/kedi/ where I used the masonry plugin. But the slide effect when filtering does not seem to work. Appreciate help.

[2019-03-08 05:45] cdtinney commented on #97
This should be done in the constructor otherwise this will create a new function every time `render()` is called.

e.g.

[code]

[2019-03-14 15:49] JulienRioux commented on #89
A quick fix is to wrap the component inside a div and removing the transition using CSS:

[code]

[2019-03-15 15:54] erosenberg commented on #134
Having this exact same issue. @jhk115 - did you ever find a fix for this?

[2019-03-15 16:23] erosenberg commented on #134
Actually, after messing around with it for a bit, everything aligns properly when I give my images explicit heights since they're all the same height. I don't know if this pertains to you but it helped me.

[2019-03-27 20:15] ldsmike88 commented on #5
If anyone is still trying to figure this out, the new way to do this is:

`<Masonry enableResizableChildren>{ children }</Masonry>`

https://github.com/eiriklv/react-masonry-component/issues/116#issuecomment-438238947

[2019-04-03 17:51] NoahFrank commented on #131
Demo was fixed today (4/3/2019) after shooting Eirik an email about the issue!

[2019-04-03 18:03] #131 closed

[2019-04-08 08:44] alipetarian commented on #65
I got the same issue and I have fixed with following library and tweaking some css code.

https://github.com/oyvindhermansen/react-images-loaded

 <ImagesLoaded
        elementType={"div"} // defaults to 'div'
        className={"your-container-class"} // defaults to 'images-loaded-container'
        style={{ display: this.state.imagesLoaded ? "block" : "none" }}
        onAlways={this.handleOnAlw

[2019-06-02 22:48] bryndyment commented on #116
Could someone provide an example of calling `reloadItems` from within a function component?

[2019-06-04 13:31] Dragos1991 opened #145 "Small Bug"
Hello, when you have different width on the first element in the grid, it would mess up all the others elements.

[2019-06-14 22:43] TheBosZ commented on #139
I think [my PR](https://github.com/eiriklv/react-masonry-component/pull/114/) will fix your issues.

Let me know if it does and I'll update it to point to this ticket.

[2019-06-20 08:19] #141 closed

[2019-06-20 08:19] afram commented on #145
do you have an example of for this?

[2019-06-20 08:20] afram commented on #143
Hi, still an issue?

[2019-06-20 08:22] afram commented on #140
I'm not sure what your question is sorry. Can you provide more context please?

[2019-10-11 00:07] dy opened #146 "Is there any way to animate fading out elements on update?"
Consider whis standard masonry example: https://wishbox.gift/send-wishbox/#category=all&price=150
If you select filter, it first transitions items out, then shows new items in.
The react-masonry abruptly deletes old items and fades in new ones.
Is there any way to make soft transition of removed items?
Thanks!

[2019-10-13 12:45] AmirTahani opened #147 "RTL Support"
How to make it RTL ?

I want cards to stand in this order
3 2 1
6 5 4

[2019-12-30 19:04] karzanosman commented on #147
use this option to origate from right
<Masonry elementType={'ul'} options={{isOriginLeft: false}}>

[2020-01-31 07:08] kaypsingh commented on #73
disabling react lazy load fixed the problem for me.

[2020-02-27 21:18] holdingsllc opened #150 "Demo website is broken"

[2020-04-17 15:38] MariuzM opened #151 "How to centre the images?"
I know this is lame should be a simple CSS but can't seem to get it working.
![Screenshot 2020-04-17 at 16 32 35](https://user-images.githubusercontent.com/36937039/79586893-abf58e80-80c9-11ea-88cb-3f7b9253868c.png)
Where the blue background is it's just empty space i want the images to be centered

[code]

css - what i have tried
[code]

[2020-04-17 15:52] MariuzM commented on #151
Sorted from here https://github.com/eiriklv/react-masonry-component/issues/31

[2020-04-17 15:52] #151 closed

[2020-04-21 14:34] MariuzM commented on #65
No updates on this one, fires 2 times, 1 in middle of positioning images, 2 when completed

[2020-04-21 15:15] MariuzM commented on #65
![Untitled](https://user-images.githubusercontent.com/36937039/79882963-41a35d80-83eb-11ea-9736-7f51da6ba712.gif)
Here is the illustration of the problem

[2020-04-21 15:27] MariuzM opened #152 "onImagesLoaded is being called twice"
onImagesLoaded is being called twice, one time in mid of rendering and second when its finished.
Any tips on how to work around this so that i only have event when it's finished?

Quick demo of the issue, you will noticed console.log is being used twice.
![Untitled](https://user-images.githubusercontent.com/36937039/79884336-f5f1b380-83ec-11ea-8094-7e5013fe4c83.gif)

[2020-04-21 16:57] MariuzM commented on #152
This is how I've solved this:
[code]

[2020-04-21 17:13] #152 closed

[2020-05-08 16:06] andreencar commented on #139
@TheBosZ will this be merged any time soon?

[2020-05-08 16:22] TheBosZ commented on #139
@andreencar I doubt it. I think this project is dead and I have no insight or perms to merge my PR. If you'd like my fix, you can [use my fork](https://github.com/TheBosZ/react-masonry-component).

[2020-06-04 04:37] FullstackJack commented on #75
Yes, the animation is stupid and probably making this less performant than it needs to be.

[2020-06-15 13:40] econavi commented on #77
Set option `{ columnWidth: 1 }`
That is working for me)

[2020-07-11 02:36] CrizR commented on #143
I have the same issue.

[2020-08-07 10:30] terreb commented on #145
@Dragos1991, I also have the first element of a different width (2x) than the others and see this bug from time to time. It's not stably reproducible though. Have you found a solution for that?

[2020-09-09 10:39] exocode opened #154 "Is it possible to show different widths?"
I wanna achieve something like this:
Is it possible with this library? If not, is it planned to add this feature?
**Thank you in advance!**

As you can see, some of the bricks are different sized in width:

<img width="1052" alt="Bildschirmfoto 2020-09-09 um 12 37 48" src="https://user-images.githubusercontent.com/1597621/92588505-606e9780-f299-11ea-8951-56d06bcb945a.png">

[2020-09-27 21:25] AviKKi commented on #28
@eiriklv  is there any update on this? If not I can contribute.

[2020-09-29 11:55] eiriklv commented on #28
@AviKKi I'll add you as a contributor

[2020-09-29 11:57] eiriklv commented on #28
@AviKKi Send me your npm user if you need to publish access

[2020-09-30 22:44] AviKKi commented on #28
Thanks @eiriklv for inviting me to contribute, my username on npm is [avikki](https://www.npmjs.com/~avikki)

This project seems to be working fine with nextjs, so for now I'll look over other issues.

[2020-10-02 18:42] #119 closed

[2020-10-02 18:43] #147 closed

[2020-10-02 18:47] #115 closed

[2020-10-02 18:49] #103 closed

[2020-10-28 13:45] maxgfr commented on #154
+1

[2020-11-22 13:44] ShivamJoker opened #155 "A simple CodeSandbox image gallery example"
### Here is a pretty simple image gallery if anyone wants to look at live demo and code
https://codesandbox.io/s/react-masonry-image-gallery-example-ys8v7

[2020-11-22 13:45] #155 closed

[2021-01-20 14:09] arildm commented on #113
I needed this to react to updated options, specifically `horizontalOrder`. I could do it by creating a ref and calling `.masonry.destroy()`:

[code]

[2021-01-27 20:29] himat commented on #16
How do you do this when using react hooks?

[2021-03-03 13:21] TheOneAndOnlyGarcia opened #156 "Update to React 17"
if possible, it would be nice if the package.json could be updated to react 17.

[2021-03-31 14:33] mgreca commented on #156
I've created a PR for this #157

[2021-03-31 22:33] doverradio commented on #156
@mgreca I see you had found no conflicts.

However, I just tried adding this to a project with react@17.0.2

Result:
[code]

Is there any way to solve this error and use this `react-masonry-component`?

[2021-04-01 10:51] mgreca commented on #156
@doverradio the PR #157 solves that issue but is not merged, we need @eiriklv to merge it and release a new version.

[2021-04-29 06:42] droplab commented on #88
hi there, I'm having the exact same issue. I've tried firing masonry.layout() and masonry.reloadItems() after the new items have been appended to the DOM. The newly appended group of elements do not get positioned. NOTE: I'm running react/next.js

Any thoughts are appreciated!

[2021-05-14 13:34] cryptoAlgorithm commented on #150
I second this, the website would really provide a demonstration of the library in action. It seems that the frontend cannot load the data from the backend and gets a 503 error code instead.

[2021-07-17 15:37] afram commented on #156
It's merged and published, though looks like there are quite a few outdated packages. I don't have a lot of time these days sorry, but if someone were to update the dependencies, I'll review and merge.

[2021-07-17 15:37] #156 closed

[2021-09-06 04:01] Code4Zelda opened #160 "What are the masonry options properties?"
i notice in the docs it just shows transition options in the option object?

const masonryOptions = {
    transitionDuration: 0
};

Do you guys have more options or does any thing can go inside of it.

[2021-09-06 14:17] afram commented on #160
Hi @Code4Zelda those options should be the same as the options you'd pass into Masonry.
https://masonry.desandro.com/options.html

[2021-09-07 19:33] ryansrofe commented on #150
the website has been broken for over a year and a half?

[2021-09-24 11:15] doichev-kostia commented on #160
`export interface MasonryOptions {
    columnWidth?: number | string | HTMLElement | null;
    itemSelector?: string;
    gutter?: number | string;
    percentPosition?: boolean;
    horizontalOrder?: boolean;
    stamp?: string;
    fitWidth?: boolean;
    originLeft?: boolean;
    originTop?: boolean;
    containerStyle?: Object;
    transitionDuration?: number | string;
    resize?: boolean;

[2021-11-15 16:29] Bikashd4332 opened #161 "Need Help: Not able to add gutter between the cards."
I've specified, `gutter` in `MaonsryOption`.
[code]
and used that like this.
[code]
These are my children components that I render
[code]
Yet I don't see any gutter between them.

![image](https://user-images.githubusercontent.com/23401383/141818286-360bf85c-5568-42cf-ac03-5dd243998900.png)

[2021-11-16 20:59] educepter opened #162 "Demo not working?"
I see an empty page in the demo at: https://hearsay-frontend.herokuapp.com/
I tried selecting different sources, but couldn't see anything.

Am using Chrome browser (version: 95.0.4638.54), on my laptop (Mac).
Would be happy to provide any further information needed.

[2022-01-06 12:30] c0ncentus opened #163 "Masonery not correctly layout because force to have invisible columns"
hi, I want order in alphabet order so
[code]

![image](https://user-images.githubusercontent.com/25374826/148382505-51478aec-d770-4a5f-a594-f497d5455e28.png)

but excpected this (no for colors but orders (mainly due to not flexible col)
![image](https://user-images.githubusercontent.com/25374826/148382736-b6100569-9a11-47d0-a9d0-7e375f32a6c5.png)

[2022-01-24 17:06] HaroldHL opened #164 "how to fix 'Image elements do not have explicit width and height' in pageSpeed"
When I try to improve PageSpeed Score, I met this kind of problem. I don't know if this plugin has any api to fix it when SSR

[2022-02-10 03:55] phthhieu commented on #132
Hi @eiriklv, this happens to my project too, but just unpredictably, do you have any suggestions to fix this?

[2022-02-23 10:50] PaulHaze commented on #162
Came here to say exactly the same thing...

[2022-05-15 16:35] Memo99 opened #168 "Support React 18"
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^0.14.0 || ^15.0.0-0 || ^16.0.0-0 || ^17.0.0" from react-masonry-component@6.3.0
npm ERR! node_modules/react-masonry-component
npm ERR!   react-masonry-component@"^6.3.0" from the root project
npm ERR!
npm ERR! Conflicting peer dependency: react@17.0.2
npm ERR! node_modules/react
npm ERR!   peer react@"^0.14.0 || ^15.0.0-0 || ^16.0.0-0 ||

[2022-08-24 20:42] ojvribeiro commented on #162
Abandoned project maybe?

[2022-08-30 03:11] nghiavu255 commented on #73
enableResizableChildren={true} and running

[2022-09-06 16:01] Danishkhurshid opened #171 "Add support for Scss/css module ."
Can you provide an example of making this work with the Scss/CSS modules?